$white : #fff;
$latBold : 'latina bold';
@media screen and (max-width:1400px) {
    #buttons{
        li{
            a{
                font-size: 70%!important;
            }
        }
    }
}
@media screen and (max-width:1100px) {
    #logo{
        #logo1{
            width: 25%;
        }
    }
    #maininter{
        #buttons{
            display: flex!important;
        }
    }
    #frase{
        justify-content: center;
        align-items: center;
        img{
            margin-left: 0px;
            width: 30%!important;
        }
        #frase1{
            text-align: center;
            font-size: 35px;
        }
        #frase2{
            text-align: center;
        }
        div{
            justify-content: center;
        }
    }
    #navsup{
        
        #hambMenu{
            display: block;
            i{
                color: $white;
                cursor: pointer;
                font-size: 30px;
            }
        }
        ul{
            display: none;
        }
    }
    #raceSectionAndfaq{
        height: auto;
    }
    #caracteristics{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .caracteristic{
            width: 100%;
            border: 0px;
        }
    }
    #races{
        width: 100%!important;
        margin-top: 60px!important;
        display: flex;
        flex-direction: column;
        .race{
            width: 50%!important;
        }
    }
    #buttons{
        display: none;
        li{
        }
    }
    .loginin{
        width: 75%!important;
    }
    #headerinter{
        #navsup{
            #buttons{
                display: none!important;
            }
        }
    }
    
}
@media screen and (max-width:841px){
    #contentfoot{
        justify-content: center;
        flex-direction: column;
    }
    #menudown{
        width: 100%!important;
        margin: auto;
        ul{
            flex-direction: column;
            text-align: center;
            li{
                transition: all 500ms;
            }
            li:hover{
                font-family: $latBold;
                font-size: 1.2rem;
                transition: all 500ms;
            }
        }
    }
    #footernet{
        width: auto!important;
        justify-content: center!important;
        margin-top: 9%;
    }
    #termsTitle{
        p{
            font-size: 1rem!important;
        }
    }
}
@media screen and (max-width:758px){
    .accordionfaq{
        padding: 0.4rem!important;
    }
    .accordion-link{
        font-size:1rem!important;
    }
}
@media screen and (max-width:541px){
    #acertijotext{
        width: 85%!important;
    }
    #frase{
        img{
            width: 55%!important;
        }
    #frase1{
        font-size: 150%!important;
    }
    #frase2{
        font-size: 100%!important;
    }
}
.faqAnswer{
    p{
        font-size: 60%!important;
    }
}
.plus{
    font-size: 60%!important;
}
#textandline{
    p{
        font-size: 38%;
        font-weight: bold;
    }
}
}
@media screen and (max-width:541px){
    #acertijoTime{
        width: 30%!important;
    }
}
@media screen and (max-width:450px){
    #failriddle{
        width: 50%!important;
    }
    .caracteristic{
        .text{
            font-size: 80%!important;
        }
    }
    .raceTitle{
        font-size: 125%!important;
    }
    .raceDescription{
        font-size: 10px!important;
    }
}
@media screen and (max-width:340px){
    .faqAnswer{
        p{
            font-size: 35%!important;
        }
    }
    .plus{
        font-size: 35%!important;
    }
}
@media screen and (max-width:310px){
    .raceTitle{
        font-size: 100%!important;
    }
    .raceDescription{
        font-size: 5px!important;
    }
}
/*Register medias*/
@media screen and (max-width:680px){
    #logo{
        #logo1{
            width: 28%;
        }
    }
    #mainreg{
        #navsup{
            width: 90%!important;
        }
    }
    #form{
        width: 90%!important;
        input{
            font-size: 80%;
        }
        #grupo__terminos{
            font-size: 70%;
        }
    }
    #buttonregister{
        width: 60%;
    }
    #regrayas{
        font-size: 70%;
    }
    #got{
        font-size: 75%;
    }
}
@media screen and (max-width:580px){
    #logo{
        a{
            left: -7%;
        }
        #logo1{
            width: 30%;
        }
    }
}
@media screen and (max-width:380px){
    #logo{
        #logo1{
            width: 55%;
        }
    }
    #redes{
        display: flex;
        flex-direction: column;
        a{
            width: 100%;
            border-radius: 20%;
            margin-bottom: 5px;
        }
    }
}
@media screen and (max-width:330px){
    #textreg{
        font-size: 65%!important;
    }
}
/*Login medias*/
@media screen and (max-width:1210px){
    #createlog{
        width: 25%;
    }
}
@media screen and (max-width:1130px){
    #rayaslog{
        p{
            font-size: 75%;
        }
    }
}
@media screen and (max-width:760px){
    #formlog{
        .loginin{
        width: 75%!important;
    }
    #loginboton{
        width: 35%!important;
    }
    #rayaslog{
        width: 75%!important;
        p{
            font-size: 70%;
        }
    }
  }
  #redeslog{
    width: 20%;
  }
}
@media screen and (max-width:726px){
    #createlog{
        width: 35%;
        font-size: 70%;
    }
}
@media screen and (max-width:401px){
    // #logo{
    //     width: 40%;
    // }
    #rayaslog{
        p{
            font-size: 50%!important;
        }
    }
    #redeslog{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            border-radius: 20%;
            margin-bottom: 4px;
        }
    }
    #createlog{
        font-size: 45%;
    }
}
/*Inter medias*/
@media screen and (max-width:1000px){
    .content{
        height: 70%!important;
    }
    .botonRace{
        img{
            bottom: -5%!important;
        }
    }
    .containerdate{
        #contentTables{
            width: 100%;
            margin: auto;
        }
    }
    #schoolAndRanking{
        width: 100%!important;
        height: 200vh!important;
        flex-direction: column;
        align-items: center;
        #school{
            width: 85%!important;
            margin-bottom: 3%!important;
            // // height: 10%!important;
            .dissapear{
                display: none!important;
                transition: all 1000ms!important;
            }
            #userAndName{
                display: flex!important;
            }
            #pic{
                width: 20%!important;
            }
        }
        #ranking{
            width: 98%!important;
            height: 100vh;
        }
        #racesInter{
            flex-direction: column;
            align-items: center;
        }
    }
    .containerdate{
        .tabs{
            width: 85%!important;
        }
    }

}
@media screen and (max-width:960px){
    #rankingMenu{
        .rankingContent{
            p{
                font-size: 1.4rem!important;
                margin-top: 2rem;
            }
        }
    }
}
@media screen and (max-width:575px){
    #rankingMenu{
        width: 74%;
    }
}
@media screen and (max-width:420px){
    #mobileMenu{
        width: 77%!important;
    }
    #logo{
        #logo1{
            width: 40%;
        }
    }
}
@media screen and (max-width:330px){
    #logo{
        #logo1{
            width: 55%;
        }
    }
}
@media screen and (max-width:275px){
    #mobileMenu{
        .mobileUl{
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
        .list-none{
            a{
                font-size: 0.8rem;
            }
        }
        #hambMenuClose{
            img{
                width: 20%;
            }
        }
    }
    .containerdate{
        #tabsGeneralContainer{
            .tabrank{
                width: 80%;
            }
        }
    }

}
@media screen and (max-width:260px){
    #rankingMenu{
        .rankingContent{
            p{
                font-size: 1rem!important;
            }
        }
    }
    #rankingTable{
        th{
            font-size: 0.7rem;
        }
        tr{
            font-size: 0.5rem;
        }
    }
}
@media screen and (max-width:800px){
    #tabsGeneralContainer{
        display: flex;
        flex-direction: column;
        #tabsTable{
            width: 55%!important;
            height: 20%!important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .tabrank{
        margin-bottom: 0.5rem!important;
    }
    #progress{
        #tituloFechas{
            p:first-child{
                img{
                    // width: 60%;
                }
            }
            p:nth-child(2){
                font-size: 0.7rem;
            }
        }
    }
    #datedur{
        font-size: 0.7rem;
    }
    #racesInter{
        flex-wrap: nowrap!important;
        overflow: auto!important;
        .raceInter{
            width: 86%!important;
            height: 40%!important;
        }
    }
    #progress{
        width: 100%!important;
        #bar{
            width: 80%!important;
        }
    }
    // #school{
    //     margin-top: 30%!important;
    // }
    // .position{
    //     font-size: 1rem!important;
    // }
    .hour{
        font-size: 2rem!important;
    }
    .tab{
        height: 70%!important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem!important;
    }
    .botonRace img{
        width: 30%!important;
    }
}
@media screen and (max-width:660px){
    .botonRace{
        img{
            bottom: -5%!important;
        }
    }
}
@media screen and (max-width:540px){
    #tabsGeneralContainer {
        #tabsTable{
            width: 80%!important;
        }
    }
}
@media screen and (max-width:485px){
    .tab{
        font-size: 0.5rem!important;
        height: 55%!important;
    }
    .tabrank{
        height: 35%!important;
    }
    #racesInter{
        .raceInter{
            height: 25%!important;
        }
    }
}
@media screen and (max-width:480px){
    #tituloFechas p:first-child img{
        width: 85%!important;
    }
    #progress #tituloFechas p:first-child img{
        width: 95%!important;
    }
}
// @media screen and (max-width:390px){
//     #school{
//         margin-top: 50%!important;
//     }
// }
@media screen and (max-width:330px){
    // #school{
    //     margin-top: 60%!important;
    // }
    #racesInter{
        .raceInter{
            height: 20%!important;
        }
    }
    .botonRace{
        img{
            bottom: 0%!important;
        }
    }
    .hour{
        font-size: 1rem!important;
    }
}
@media screen and (max-width:320px){
    #racesInter{
        height: 110%!important;
    }
    .containerdate{
        #progress{
            height: 20%!important;
        }
    }
}
/*table global,persona styles*/
@media screen and (max-width:463px){
    .trIndice{
        font-size: 0.7rem;
    }
    .trDato{
        font-size: 0.5rem;
    }
}
@media screen and (max-width:510px){
    #datesPrices{
        width: 85%!important;
    }
}
@media screen and (max-width:291px){
    #rankingMenu{
        width: 95%!important;
    }
    #navsup{
        width: 95%!important;
    }
    #schoolAndRanking{
        #school{
            width: 95%!important;
        }
    }
    .containerdate{
        .tabs{
            width: 95%!important;
        }
    }
    #datesPrices{
        width: 100%!important;
    }
}
/*Acertijo medias*/
@media screen and (max-width:1500px){
    #acertijotext{
        #riddleSentence{
            overflow: auto!important;
            }
        }
}
@media screen and (max-width:1430px){
    #acertijotext{
        p:first-child{
            font-size: 1.8rem;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
        }
    }
    /*done medias*/
    #tab{
        overflow: auto;
    }
}
/*done medias*/
@media screen and (max-width:1350px){
    #time{
        p{
            font-size: 1rem!important;
        }
    }
    #donePos{
        #posit{
            p:first-child{
                font-size: 1.5rem!important;
            }
        }
    }
    #donemsg{
        p{
            font-size: 2.5rem!important;
        }
    }
}
@media screen and (max-width:1020px){
    #donePos{
        flex-direction: column;
    }
}
@media screen and (max-width:930px){
    #donehour{
        width: 20%!important;
    }
    #donetable{
        width: 35%!important;
    }
    .positNumber{
        left: 0%!important;
    }
}
@media screen and (max-width:735px){
    #donePos{
    #posit{
        p:first-child{
            font-size: 1rem !important;
        }
    }
}
}
@media screen and (max-width:660px){
    #donehour{
        width: 25%!important;
    }
    #donemsg{
        p{
            font-size: 2rem!important;
        }
    }
    #posImg{
        width: 55px!important;
        height: 55px!important;
        p{
            font-size: 2rem!important;
        }
    }
    .rank{
        font-size: 1rem!important;
    }
    #doneTable{
        tbody{
            tr:first-child{
                font-size: 0.8rem!important;
            }
            .trInfo{
                font-size: 0.8rem!important;
            }
        }
    }
    #calavera{
        height: 30%!important;
    }
    #donetable{
        width: 50%!important;
    }
    #donehour{
        width: 35%!important;
    }
}
@media screen and (max-width:490px){
    #donemsg{
        p{
            font-size: 1.5rem!important;
        }
    }
    #donePos{
        width: 100%!important;
    }
    #time{
        p{
            font-size: 0.7rem!important;
        }
    }
    #doneTableBut{
        width: 25%!important;
    }

}
@media screen and (max-width:350px){
    #doneTable{
        tbody{
            tr:first-child{
                font-size: 0.5rem!important;
            }
            .trInfo{
                font-size: 0.5rem!important;
            }
        }
    }
}
@media screen and (max-width:275px){
    #donehour{
        width: 50%!important;
    }
}
@media screen and (max-width:950px){
    #acertijoTime{
        p{
            font-size: 0.9rem!important;
        }
    }
    #acertijotext{
        p:first-child{
            font-size: 1rem;
        }
        p:nth-child(2){
            font-size: 0.7rem!important;
        }
    }
}

@media screen and (max-width:881px){
    #failContent{
        p:first-child{
            font-size: 2rem!important;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
            text-align: center;
        }
    }
}
@media screen and (max-width:700px){
    #barProg{
        justify-content: center!important;
        #barraProg{
            width: 20%!important;
        }
    }
    #acertijotext{
        width: 85%!important;
        height: 45%!important;
        p:first-child{
            font-size: 1rem!important;
        }
        // p:nth-child(2){
        //     font-size: 0.7rem!important;
        //     overflow-x: auto;
        //     margin-bottom: 5%;
        // }
    }
    #acertijoanswer{
        width: 75%!important;
        input{
            font-size: 0.5rem;
        }
        p{
            font-size: 0.5rem!important;
        }
    }
    #acertijoTime{
        width: 30%!important;
    }
    .acertijobutton{
        button{
            img{
                height: 80%!important;
            }
        }
    }
}
@media screen and (max-width:350px){
    #acertijoAll{
        #barProg{
            #barraProg{
                p{
                    font-size: 8px!important;
                }
            }
        }
    }
    #acertijoTime{
        p{
            font-size: 0.7rem!important;
        }
    }
    #acertijoanswer{
        p{
            font-size: 5px!important;
        }
    }
    .acertijobutton{
        width: 40%!important;
        button{
            img{
                height: 50%!important;
            }
        }
    }
}
/*popups riddles medias*/
@media screen and (max-width:1190px) {
    #correctContent{
        p:first-child{
            font-size: 20px!important;
        }
        p:nth-child(2){
            font-size: 15px!important;
        }
    }
}
@media screen and (max-width:605px) {
    #correctContent{
        p:first-child{
            font-size: 15px!important;
        }
        p:nth-child(2){
            font-size: 10px!important;
        }
    }
}
@media screen and (max-width:465px) {
    #correctContent{
        p:first-child{
            font-size: 1rem!important;
            text-align: center;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
            text-align: center;
        }
    }
    #acertijoTime{
        p{
            font-size: 10px!important;
        }
    }
    #acertijotext{
        p:first-child{
        }
        p:nth-child(2){
            font-size: 10px !important;
        }
    }
}
@media screen and (max-width:315px) {
    // #correctriddle {
    //     height: 30%;
    // }
    #correctContent{
        p:first-child{
            font-size: 0.7rem!important;
            text-align: center;
        }
        p:nth-child(2){
            font-size: 0.6rem!important;
            text-align: center;
        }
    }
}
@media screen and (max-width:975px) {
    #completedContent{
        p:first-child{
            font-size: 20px!important;
        }
        p:nth-child(2){
            font-size: 15px!important;
        }
        p:nth-child(3){
            font-size: 10px!important;
        }
    }
}
@media screen and (max-width:620px) {
    #completedContent{
        // p:first-child{
        //     font-size: 20px!important;
        // }
        // p:nth-child(2){
        //     font-size: 15px!important;
        // }
        p:nth-child(3){
            font-size: 6px!important;
        }
    }
    #termsTitle{
        p{
            font-size: 0.7rem!important;
        }
    }
    #termsText{
        p{
            font-size: 0.7rem!important;
        }
    }
}
@media screen and (max-width:380px) {
    #completedContent{
        p:first-child{
            font-size: 1rem!important;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
        }
        p:nth-child(3){
            font-size: 0.6rem!important;
            text-align: center;
        }
    }
    #buttonCompleted{
        img{
            width: 45%!important;
        }
    }
}
/*perfil medias*/
@media screen and (max-width:1106px) {
    #profileButtons{
        button:first-child{
            width: 45%!important;
        }
        button:nth-child(2){
            width: 35%!important;
        }
    }
}
@media screen and (max-width:790px) {
    #profilecontent{
        overflow: auto;
    }
    #nameandlast{
        flex-direction: column!important;
        input{
            width: 100%!important;
        }
    }
    #profileButtons{
        button{
            font-size: 10px!important;
        }
        button:first-child{
            width: 60%!important;
        }
        button:nth-child(2){
            width: 50%!important;
        }
    }
}
@media screen and (max-width:685px) {
    #circles{
        height: 95%!important;
        overflow: auto!important;
    }
    #formProfile{
        margin-top: 15%!important;
    }
    .contCirc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .circle{
            margin: auto!important;
            margin-top: 10px!important;
            margin-bottom: 10px!important;
        }
    }
}
@media screen and (max-width:460px){
    #profilecontent{
        img{
            width: 55%!important;
        }
    }
    #formProfile{
        input{
            font-size: 0.7rem!important;
        }
    }
}
@media screen and (max-width:360px){
    #profileButtons{
        width: 100%!important;
    }
}
/*Boleteria medias*/
@media screen and (max-width:1030px){
    #ticketDivs
        {
            #tituloBol{
                h1{
                    margin-bottom: 1.5rem!important;
                }
            }
        } 
    #pricesBol{
        height: 100%!important;
        flex-direction: column;
        #porFecha{
            width: 90%!important;
            margin-bottom: 1rem;
        }
        #full{
            width: 90%!important;
            margin-bottom: 1rem;
        }
        #priceTicket{
            width: 30%!important;
        }
    }
    #buyButton{
        img{
            width: 60%!important;
        }
    }
    #canjear{
        width: 90%!important;
    }
}
@media screen and (max-width:770px){
    #ticketDivs{
        overflow: auto;
    }
    .tituloPrices{
        p:first-child{
            font-size: 1rem!important;
        }
    }
    #canjear{
        height: 20%!important;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        input,
        button{
            height: 50%!important;
            font-size: 0.7rem!important;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }
        input{
            width: 100%!important;
        }
        button{
            width: 45%!important;
        }
    }
}
/*terminos medias*/
/*book medias*/
@media screen and (max-width:695px){
    #formDivBokk{
        .oneinpt{
            width: 100%!important;
        }
    #formd{
        .twoinp{
            flex-direction: column!important;
            .inp{
                width: 100%;
            }
        }
        .threeinp{
            flex-direction: column!important;
            .inpt{
                width: 100%;
            }
        }
    }
    #threebuttons{
        width: 100%!important;
        flex-direction: column!important;
        button{
            width: 100%!important;
            margin-bottom: 0.5rem;
            height: 3rem!important;
        }
    }
}
}
@media screen and (max-width:450px){
    #formDivBokk{
        #twoRadios{
            flex-direction: column!important;
            .radio{
                width: 100%!important;
            }
        }
    }
}