$white : #fff;
@media screen and (max-width:1400px) {
    #buttons{
        li{
            a{
                font-size: 70%!important;
            }
        }
    }
}
@media screen and (max-width:1100px) {
    #logo{
        #logo1{
            width: 30%;
        }
    }
    #maininter{
        #buttons{
            display: flex!important;
        }
    }
    #frase{
        justify-content: center;
        align-items: center;
        img{
            margin-left: 0px;
            width: 30%!important;
        }
        #frase1{
            text-align: center;
            font-size: 35px;
        }
        #frase2{
            text-align: center;
        }
        div{
            justify-content: center;
        }
    }
    #navsup{
        
        #hambMenu{
            display: block;
            i{
                color: $white;
                cursor: pointer;
                font-size: 30px;
            }
        }
        ul{
            display: none;
        }
    }
    #raceSectionAndfaq{
        height: auto;
    }
    #caracteristics{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .caracteristic{
            width: 100%;
            border: 0px;
        }
    }
    #races{
        width: 100%!important;
        margin-top: 60px!important;
        display: flex;
        flex-direction: column;
        .race{
            width: 50%!important;
        }
    }
    #buttons{
        display: none;
        li{
        }
    }
    .loginin{
        width: 75%!important;
    }
}
@media screen and (max-width:841px){
    #contentfoot{
        justify-content: center;
        flex-direction: column;
    }
    #menudown{
        width: auto;
        margin: auto;
        ul{
            flex-direction: column;
        }
    }
    #footernet{
        width: auto!important;
        justify-content: center!important;
        margin-top: 9%;
    }
    #menudown{
        width: 50%!important;
    }
}
@media screen and (max-width:758px){
    .accordionfaq{
        padding: 0.4rem!important;
    }
    .accordion-link{
        font-size:1rem!important;
    }
}
@media screen and (max-width:541px){
    #acertijotext{
        width: 85%!important;
    }
    #frase{
        img{
            width: 55%!important;
        }
    #frase1{
        font-size: 150%!important;
    }
    #frase2{
        font-size: 100%!important;
    }
}
.faqAnswer{
    p{
        font-size: 60%!important;
    }
}
.plus{
    font-size: 60%!important;
}
#textandline{
    p{
        font-size: 38%;
        font-weight: bold;
    }
}
}
@media screen and (max-width:541px){
    #acertijoTime{
        width: 30%!important;
    }
}
@media screen and (max-width:450px){
    #failriddle{
        width: 50%!important;
    }
    .caracteristic{
        .text{
            font-size: 80%!important;
        }
    }
    .raceTitle{
        font-size: 125%!important;
    }
    .raceDescription{
        font-size: 10px!important;
    }
}
@media screen and (max-width:340px){
    .faqAnswer{
        p{
            font-size: 35%!important;
        }
    }
    .plus{
        font-size: 35%!important;
    }
}
@media screen and (max-width:310px){
    .raceTitle{
        font-size: 100%!important;
    }
    .raceDescription{
        font-size: 5px!important;
    }
}
/*Register medias*/
@media screen and (max-width:680px){
    #logo{
        #logo1{
            width: 40%;
        }
    }
    #mainreg{
        #navsup{
            width: 90%!important;
        }
    }
    #form{
        width: 90%!important;
        input{
            font-size: 80%;
        }
        #grupo__terminos{
            font-size: 70%;
        }
    }
    #buttonregister{
        width: 60%;
    }
    #regrayas{
        font-size: 70%;
    }
    #got{
        font-size: 75%;
    }
}
@media screen and (max-width:380px){
    #logo{
        #logo1{
            width: 55%;
        }
    }
    #redes{
        display: flex;
        flex-direction: column;
        a{
            width: 100%;
            border-radius: 20%;
            margin-bottom: 5px;
        }
    }
}
@media screen and (max-width:330px){
    #textreg{
        font-size: 65%!important;
    }
}
/*Login medias*/
@media screen and (max-width:1210px){
    #createlog{
        width: 25%;
    }
}
@media screen and (max-width:1130px){
    #rayaslog{
        p{
            font-size: 75%;
        }
    }
}
@media screen and (max-width:760px){
    #formlog{
        .loginin{
        width: 75%!important;
    }
    #loginboton{
        width: 35%!important;
    }
    #rayaslog{
        width: 75%!important;
        p{
            font-size: 70%;
        }
    }
  }
  #redeslog{
    width: 20%;
  }
}
@media screen and (max-width:726px){
    #createlog{
        width: 35%;
        font-size: 70%;
    }
}
@media screen and (max-width:401px){
    // #logo{
    //     width: 40%;
    // }
    #rayaslog{
        p{
            font-size: 50%!important;
        }
    }
    #redeslog{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            border-radius: 20%;
            margin-bottom: 4px;
        }
    }
    #createlog{
        font-size: 45%;
    }
}
/*Inter medias*/
@media screen and (max-width:1000px){
    #schoolAndRanking{
        width: 100%!important;
        height: 250vh!important;
        flex-direction: column-reverse;
        align-items: center;
        #school{
            width: 45%!important;
            margin-top: 10%;
        }
        #ranking{
            width: 98%!important;
            height: 100vh;
        }
        #racesInter{
            flex-direction: column;
            align-items: center;
        }
    }

}
@media screen and (max-width:800px){
    #tabsGeneralContainer{
        display: flex;
        flex-direction: column;
        #tabsTable{
            width: 55%!important;
            height: 20%!important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .tabrank{
        margin-bottom: 0.5rem!important;
    }
    #progress{
        #tituloFechas{
            p:first-child{
                img{
                    width: 60%;
                }
            }
            p:nth-child(2){
                font-size: 0.7rem;
            }
        }
    }
    #datedur{
        font-size: 0.7rem;
    }
    #racesInter{
        flex-wrap: nowrap!important;
        overflow: auto!important;
        .raceInter{
            width: 70%!important;
            height: 35%!important;
        }
    }
    #school{
        margin-top: 30%!important;
    }
    // .position{
    //     font-size: 1rem!important;
    // }
    .hour{
        font-size: 2rem!important;
    }
    .tab{
        font-size: 0.5rem!important;
    }
    .botonRace img{
        width: 30%!important;
    }
}
@media screen and (max-width:540px){
    #tabsGeneralContainer {
        #tabsTable{
            width: 80%!important;
        }
    }
}
@media screen and (max-width:480px){
    #tituloFechas p:first-child img{
        width: 85%!important;
    }
    #progress #tituloFechas p:first-child img{
        width: 95%!important;
    }
    #racesInter .raceInter{
        height: 25%!important;
    }
}

@media screen and (max-width:330px){
    .botonRace{
        img{
            bottom: 0%!important;
        }
    }
    .hour{
        font-size: 1rem!important;
    }
}
/*Acertijo medias*/
@media screen and (max-width:1430px){
    #acertijotext{
        p:first-child{
            font-size: 1.8rem;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
        }
    }
}
@media screen and (max-width:950px){
    #acertijoTime{
        p{
            font-size: 0.9rem!important;
        }
    }
    #acertijotext{
        p:first-child{
            font-size: 1rem;
        }
        p:nth-child(2){
            font-size: 0.7rem!important;
        }
    }
}

@media screen and (max-width:881px){
    #failContent{
        p:first-child{
            font-size: 2rem!important;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
            text-align: center;
        }
    }
}
@media screen and (max-width:700px){
    #barProg{
        justify-content: center!important;
        #barraProg{
            width: 20%!important;
        }
    }
    #acertijotext{
        width: 85%!important;
        height: 45%!important;
        p:first-child{
            font-size: 1rem!important;
        }
        p:nth-child(2){
            font-size: 0.7rem!important;
            overflow-x: auto;
            margin-bottom: 5%;
        }
    }
    #acertijoanswer{
        width: 75%!important;
        input{
            font-size: 0.5rem;
        }
        p{
            font-size: 0.5rem!important;
        }
    }
    #acertijoTime{
        width: 30%!important;
    }
    .acertijobutton{
        button{
            img{
                height: 80%!important;
            }
        }
    }
}
@media screen and (max-width:350px){
    #acertijoAll{
        #barProg{
            #barraProg{
                p{
                    font-size: 8px!important;
                }
            }
        }
    }
    #acertijoTime{
        p{
            font-size: 0.7rem!important;
        }
    }
    #acertijoanswer{
        p{
            font-size: 5px!important;
        }
    }
    .acertijobutton{
        width: 40%!important;
        button{
            img{
                height: 50%!important;
            }
        }
    }
}
/*popups riddles medias*/
@media screen and (max-width:1190px) {
    #correctContent{
        p:first-child{
            font-size: 20px!important;
        }
        p:nth-child(2){
            font-size: 15px!important;
        }
    }
}
@media screen and (max-width:605px) {
    #correctContent{
        p:first-child{
            font-size: 15px!important;
        }
        p:nth-child(2){
            font-size: 10px!important;
        }
    }
}
@media screen and (max-width:465px) {
    #correctContent{
        p:first-child{
            font-size: 1rem!important;
            text-align: center;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
            text-align: center;
        }
    }
    #acertijoTime{
        p{
            font-size: 10px!important;
        }
    }
    #acertijotext{
        p:first-child{
        }
        p:nth-child(2){
            font-size: 10px !important;
        }
    }
}
@media screen and (max-width:315px) {
    // #correctriddle {
    //     height: 30%;
    // }
    #correctContent{
        p:first-child{
            font-size: 0.7rem!important;
            text-align: center;
        }
        p:nth-child(2){
            font-size: 0.6rem!important;
            text-align: center;
        }
    }
}
@media screen and (max-width:975px) {
    #completedContent{
        p:first-child{
            font-size: 20px!important;
        }
        p:nth-child(2){
            font-size: 15px!important;
        }
        p:nth-child(3){
            font-size: 10px!important;
        }
    }
}
@media screen and (max-width:620px) {
    #completedContent{
        // p:first-child{
        //     font-size: 20px!important;
        // }
        // p:nth-child(2){
        //     font-size: 15px!important;
        // }
        p:nth-child(3){
            font-size: 6px!important;
        }
    }
}
@media screen and (max-width:380px) {
    #completedContent{
        p:first-child{
            font-size: 1rem!important;
        }
        p:nth-child(2){
            font-size: 0.8rem!important;
        }
        p:nth-child(3){
            font-size: 0.6rem!important;
            text-align: center;
        }
    }
    #buttonCompleted{
        img{
            width: 45%!important;
        }
    }
}