*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
//Fuentes
@font-face {
    font-family: 'Latina bold';
    src:url('../fonts/latbold/Latina\ W00\ Bold.ttf');
}
@font-face {
    font-family: 'Latina regular';
    src: url('../fonts/latregular/Latina\ W00\ Regular.ttf');
}
@font-face {
    font-family: 'Latina ultra heavy';
    src: url('../fonts/latultheav/Latina\ W00\ Ultra\ Heavy.ttf');
}
@font-face {
    font-family: 'Digital';
    src: url('../fonts/digital/wwDigital.ttf');
}
$colorFondo : #001521;
$latBold: 'Latina bold';
$latReg: 'Latina regular';
$latUltHeav: 'Latina ultra heavy';
$digital: 'Digital';
$white: #fff;
$colorInputs: #011625;
$colorHave: #426264;
$black: #000;
$gradient1: rgb(0,74,61);
$gradient2: linear-gradient(180deg, rgba(0,74,61,1) 0%, rgba(0,57,53,1) 34%, rgba(0,38,44,1) 64%, rgba(0,21,33,1) 100%);
$letraSombraColor : #831202;
$sombrasLetras : 0px 0 0 #b38b40, 0px 0 0 #d68a35, 0 0px 0 #7c6734, 0 0px 0 #f4c965, 2px 1px #e0a85a, -1px -1px 0 #efa641, 1px -1px 0 #b3863a, -1px 1px 0 #bd813f;
//Main
#main{
    background: $colorFondo;
}
#body{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.menu.menu-opened{
    position: relative;
    top: 40px!important;
    z-index: 2999!important;
}
.body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(13, 0, 13, 0.38);
    z-index: 1500;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.menu-opened.body::after{
    opacity: 1;
    transform: scale(1);
}
//Header
#header{
    // background: url(../img/FONDO\ AMARILLO\ T-06-06.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
#header::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg, $colorFondo, transparent 47%);
    z-index: 55;
}
#mobileMenu{
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: $gradient1;
    background: $gradient2;
    display: flex;
    top: -400%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-radius: .8rem;
    transition: all 500ms;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    a{
        font-family: $latBold!important;
        font-weight: bold;
        img{
            width: 40%;
        }
    }
}
#buttonsMobile{
    margin-top: 5%;
}
#navsup{
    width: 85%;
    height: 10%;
    // padding: 2%;
    background: rgb(77,53,19);
    background: linear-gradient(90deg, rgba(77,53,19,1) 0%, rgba(70,48,16,1) 35%, rgba(70,48,16,1) 100%);
    border: 5px solid;
    border-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        from(#7e5023),
        to(#dcae19)
    );
    border-image: linear-gradient(right,
    #7e5023,
    #dcae19);
    border-image-slice:1;
    z-index: 199;
    top: 0px;
    ul{
        width: 45%;
        // img{
        //     width: 50%;
        //     transition: all 0.6s;
        // }
        a{
            color: $letraSombraColor;
            font-family: $latUltHeav;
            font-size: 1.4rem;
            text-shadow: $sombrasLetras;
            transition: all 0.6s;
        }
        a:hover{
            transform: scale(1.5, 1.5);
            transition: all 0.6s;
        }
    }
}
#hambMenu{
    display: none;
}
#hambMenuClose{
    position: absolute;
    top: 0;
    right: 2%;
}
#logo{
    width: 20%;
    a{
        left: -4%;
        width: 20%;
        img:nth-child(2){
            height: 50%;
        }
        img{
            width: 50%;
            height: 10%;
            height: auto;
        }
    }
    #logo1{
        // position: absolute;
        // width: 10%;
        // height: 10%;
        // left: 0%;
        // align-self: center;
    }
}
#frase{
    width: 73%;
    height: 50%;
    #frase1{
        font-family: $latUltHeav;
        font-size: 35px;
    }
    #frase2{
        font-family: $latReg;
        font-size: 20px;
    }
    div{
        width: 100%;
        display: flex;
        img{
            width: 20%;
            margin-top: 40px;
            z-index: 100;
        }
    }
}
#buttons{
    width:30%;
    li{
        width: 50%;
        font-family: $latUltHeav;
        color: $white;
        a{
            font-size: 90%;
            img{
                width: 80%;
            }
        }
    }
    .button-sign{
        width: 35%;
    }
}
#bannerAndAnnounce{
    height: 100vh;
    background-color: $colorFondo;
    #banner{
        background-color: $white;
        width: 70%;
        height: 60%;
    }
    #announce{
        background-color: $white;
        width: 40%;
        height: 15%;
    }
}
#caracteristics{
    width: 80%;
    background-color: $colorFondo;
    .caracteristic{
        width: 35%;
        height: 70%;
        .imagecaract{
            height: 50%
        }
        img{
            width: 50%;
        }
        .title{
            font-family: $latUltHeav;
        }
        .text{
            width: 70%;
            font-family: $latReg;
            font-size: 17px;
        }
    }
    .caract-center{
            color: white;
            border-width: 3px;
            border-style: solid;
            border-image: 
              linear-gradient(
                to top, 
                #6d7a80, 
                rgba(0, 0, 0, 0)
              ) 1 100%;
    }
}
#raceSectionAndfaq{
    background-image: url(../img/landing/FONDO\ PIEDRAS-06.png);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 100px;
    margin-top: 10%;
    #races{
        width: 75%;
        height: 30%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        .race{
            width: 31%;
            height: 40%;
            z-index: 60;
            cursor: pointer;
        }
    }
    .raceTitle{
        font-family: $latUltHeav;
        font-size: 200%;
    }
    .raceDescription{
        color: #ffb800;
        font-family: $latBold;
        font-size: 15px;
    }
    #faq{
        width: 90%;
        height: auto;
        margin: auto;
        z-index: 500;
        #textandline{
            width: 80%;
            height: 10%;
            margin-bottom: 5%;
            p{
                width: 20%;
                font-family: $latReg;
                font-size: 85%;
            }
            #line{
                width: 80%;
                height: 10%;
                border-bottom: 1px solid $white;
            }
        }
        #faqs{
            box-sizing: border-box;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .accordionfaq{
            display: flex;
            flex-direction: column;
            // background-image: url(../img/CUADRADO\ PREGUNTAS\ FRECUENTES-06.png)!important;
            background-color: #302910;
            // background-size: 100% 100%;
            border: 5px solid;
            border-image: -webkit-gradient(
                linear,
                right bottom,
                left top,
                from(#7e5023),
                to(#dcae19)
            );
            border-image: linear-gradient(right,
            #7e5023,
            #dcae19);
            border-image-slice: 1;
            margin-top: 1px;
            margin-bottom: 5px;
            font-family: $latBold;
        .accordion-link{
            font-size: 1.5rem;
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.3rem;
            margin-left: 1%!important;
            margin-top: 1%;
            i{
                padding: .5rem;
                margin-right: 2%;
            }
            .fa-solid.fa-minus{
                display: none;
            }
        }
        .answer{
            max-height: 0;
            overflow: hidden;
            position: relative;
            background-color: #302910;
            transition: max-height 650ms;
            p{
                color: $white;
                font-size: 80%;
                padding: 1rem;
            }
        }
        .answer::before{
            content: "";
            position: absolute;
            width: .6rem;
            height: 100%;
            background-color: #a47233;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
        }
    }
    .accordionfaq:target .answer{
        max-height: 20rem!important;
    }
    .accordionfaq:target .accordion-link .fa-solid.fa-plus{
        display: none;
    }
    .accordionfaq:target .accordion-link .fa-solid.fa-minus{
        display: block;
    }
        //     .faqDiv{
        //         width: 100%;
        //         height: auto;
        //         display: flex;
        //         justify-content: center;
        //         .faqImg{
        //             width: 100%;
        //             height: 100%;
        //             img{

        //             }
        //         }
        //         .faqAnswer{
        //             width: 65%;
        //             display: flex;
        //             align-self: center;
        //             p{
        //                 font-size: 100%;
        //                 color: $white;
        //                 font-family: $latBold;
        //             }
        //         }
        //     }
        // }
        // .plus{
        //     color: $white;
        //     font-weight: bold;
        //     width: 15%;
        //     align-self: center;
        //     right: 4%;
        //     font-size: 100%;
        //     z-index: 300;
        // }
    }
}
#announce2{
    background-color: $white;
    width: 40%;
    height: 120px;
    margin-top: 20px;
}
#raceSectionAndfaq::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(180deg, $colorFondo, transparent 67%);
    z-index: 50;
}
#contentfoot{
    margin: auto;
    width: 90%;
}
#footer{
    width: 90%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid $white ;
    height: auto;
    font-family: $latBold;
    #menudown{
        width: 65%;
    }
    #footernet{
        width: 30%;
        justify-content: end;
        ul{
            width: 50%;
            li{
                i{
                    font-size: 25px;
                }
            }
        }
    }
}
//Formreg styles
#titreg{
    font-family: $latBold;
}
#textreg{
    font-family: $latReg;
}
#register{
    width: 90%;
}
#mainreg{
    background: $gradient1;
    background: $gradient2; 
    #navsup{
        height: 10vh;
    }
}
#createlog{
    width: 15%;
    border-radius: 90px;
    background-color: $colorHave;
    font-family: $latBold;
}
#registerdiv{
    width: 100%;
#form{
    width: 50%;
    margin-bottom: 5%;
}
}
#formlog input{
    font-family: $latBold;
    border: none;
}
#form input{
    background-color: $colorFondo;
    font-family: $latBold;
    border: none;
}
#grupo__terminos{
    font-family: $latBold;
}
.titulo{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.titulo::before, .titulo::after{
    content:"";
    height: 2px;
    background-color: $white;
    display: block;
}
#redes{
    width: 20%;
    a{
        width: 40%;
        border-radius: 40%;
        i{
            color: $white;
        }
    }
}
#redeslog{
    width: 10%;
    a{
        width: 40%;
        border-radius: 40%;
        i{
            color: $white;
        }
    }
}
#got{
    border-radius: 90px;
    background-color: $colorHave;
    font-family: $latBold;
}
/* Color forms */
input[type='text'],
input[type='password'],
input[type='email']{
    background:$colorFondo;
    color: $white;
    font-weight: bold;
    border:none;
}
#mainlog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $gradient1;
    background: $gradient2;
    #navsup{
        padding: 1%!important;
    }
    #login{
        width: 90%;
        margin: auto;
        margin-top: 5%;
        #formlog{
            width: 100%;
            .loginin{
                display: flex;
                justify-content: center;
                width: 40%;
                position: relative;
                input{
                    width: 100%;
                }
                i{
                    position: absolute;
                    top: 30%;
                    left: 2%;
                    color: $white;
                }
            }
        }
    }
}
#logolog{
    width: 15%;
}
#loginboton{
    width: 20%;
}
#buttonregister{
    width: 30%;
}
//Form validation styles
.formulario__input-error {
	font-size: 15px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
	color: $white;
}

.formulario__validacion-estado {
	position: absolute;
	top: 18%;
	right: 10px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: $colorInputs;
	padding: 0 15px;
	border-radius: 3px;
    border: 2px solid $white;
	display: none;
	color: $white;
}

.formulario__mensaje-activo {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: $black;
	color: $white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: $colorInputs;
	border: 2px solid $colorInputs;
	background-color: $white;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	position: absolute;
	top: 30%!important;
	color: $white;
	opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: $white;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
/*Interesc styles*/
#headerinter{
    height: 15%;
    #navsup{
        padding: 2.5%;
    #logo{
        width: 22%;
    }
    ul{
        width: 50%;
    }
    .buttonslog{
        width: 25%;
        li{
            background: rgb(250,205,103);
            background: linear-gradient(90deg, rgba(250,205,103,1) 0%, rgba(254,166,53,1) 60%);
            margin-left: 1.5%;
            border-radius: 100%;
        }
    }
    }
}
#maininter{
    background: $gradient1;
    background: $gradient2;
    width: 100%;
    height: auto;
    #navsup{
        height: 10vh;
    }
    #schoolAndRanking{
        width: 85%;
        height: 100vh;
        color: $white;
        margin-bottom: 10%;
        #school{
            width: 25%;
            height: 60%;
            background-color: $colorFondo;
            border-radius: 5%;
            #schoolpicandname{
                width: 90%;
                height: 25%;
                margin: auto;
                font-family: $latUltHeav;
                border-bottom: 1px solid $white;
                #pic{
                    width: 30%;
                    height: 60%;
                    background-color: $white;
                    border-radius: 55%;
                }
            }
            #position{
                width: 90%;
                height: 25%;
                margin: auto;
                span{
                    p{
                    color: #ffc200;
                }
            }
            .puesto{
                font-family: $latBold;
            }
            }
            #rankingside{
                cursor: pointer;
                width: 90%;
                height: 25%;
                margin: auto;
                border-bottom: 1px solid $white;
                border-top: 1px solid $white;
                font-family: $latBold;
            }
            #points{
                height: 25%;
                p:first-child{
                    font-family: $latBold;
                }
                p:nth-child(2){
                    color:#ffc200;
                }
            }
        }
        #ranking{
            width: 70%;
            height: 100%;
        }
    }
}
#maininteracces{
    width: 100%;
    height: 100%;
    background: $gradient1;
    background: $gradient2;
    // Interacces styles
    #navsup{
        height: 10vh;
    }
    #interAccesForm{
        width: 80%;
        height: 100vh;
        #imgacces{
            width: 40%;
            img{
                width: 50%;
                margin-bottom: 10%;
            }
        }
        #interAccesBack{
            width: 50%;
            height: 50%;
            background-image: url(../img/landing/popup.png);
            background-size: 100% 100%;
        }
        #schoolandyear{
            width: 80%;
            height: 50%;
            #selects{
                width: 100%;
                margin-bottom: 2%;
                select{
                    border: none;
                    border-radius: 5px;
                    background-color: $colorInputs;
                    font-family: $latBold;
                    color: $white;

                }
                #schoolSelect{
                    width: 59%;
                }
                #yearSelect{
                    width: 39%;
                }
            }
        }
    }
    #inviteText{
        p{
            color: $white;
            font-family: $latReg;
            a{
                color: #d5b819;
                font-family: $latBold;
            }
        }
    }
    input{
        margin-bottom: 1%;
        border-radius: 5px;
    }
    #interAccesButton{
        margin-top: 5%;
        width: 40%;
    }
}

/*Mail styles*/
#mainmail{
    background: $gradient1;
    background: $gradient2;
    height: 100%;
    margin-bottom: 50px;
    #mail{
        .mail{
            font-family: $latBold;
            font-size: 40px;
        }
        .frasemail{
            font-family: $latReg;
            font-size: 18px;
        }
    }
    #dontreceive{
        width: 50%;
        p{
            font-family: $latReg;
            font-size: 35px;
            letter-spacing: 2px;
        }
    }
    #buttonsreceive{
        width: 60%;
        a{
            width: 50%;
        }
        .end{
            text-align: end;
        }
        img{
            width: 100%;
        }
        .changebut{
            font-family: $latBold;
            border: 1px solid $white;
            text-align: center;
            border-radius: 20px;
        }
    }
    #netbuttons{
        width: 40%;
    }
    #redesbuttons{
        width: 10%;
        a{
            width: 40%;
            border-radius: 40%;
            i{
                color: $white;
                font-size: 20px;
            }
        }
    }
}
.buttonslog{
    li{
        width: 20%!important;
        text-align: end;
    }
}
/*Myprofile styles*/
#mainmyprof{
    background: $gradient1;
    background: $gradient2;
    height: auto;
    #headerprof{
        height: 15vh;
    }
}
#profilecontent{
    width: 85%;
    height: 150vh;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    #formprof{
        width: 80%;
        height: 20%;
        #circles{
            width: 90%;
            height: 80%;
            margin: auto;
            justify-content: space-between;
            .circle{
                width: 15%;
                height: 90%;
                border-radius: 90%;
                background-color: $white;
            }
        }
    }
    #formProfile{
        width: 80%;
        height: 80%;
        .pointer{
            pointer-events: none;
        }
        input{
            margin-top: 1%;
            margin-bottom: 1%;
            height: 40px;
            
        }
        .form-container{
            width: 90%;
        }
        #nameandlast{
            input{
                width: 49.8%;
            }
        }
        #changepass{
            width: 90%;
        }
    }
}
/*Try pag*/
/* WHOLE CONTAINER */
.containerdate {
    width: 100%;
    height: 100%;
    .buttons{
        min-width: 4%;
        cursor: pointer;
        background-color: #66421b;
        min-height: 50%;
        border: 2px solid #905a1e;
    }
    .tabs {
        // position: absolute;
        display: flex;
        flex-wrap: nowrap;
        // grid-template-columns: repeat(16,1fr);
        // gap: 5px;
        height: 5%;
        overflow: hidden!important;
        align-items: center;
        justify-content: space-between;
        width: 86%;
        .contentTabs{
            // position: absolute;
            width: 200%;
            display: grid;
            grid-template-columns: repeat(8,1fr);
            gap: 1%;
        }
        .tab {
            width: 16%;
            font-size: 14px;
            text-align: center;
            // padding: 5px 10px;
            cursor: pointer;
            background-color: #221c02;
            border: 2px solid #d17519;
            font-family: $latUltHeav;
            font-weight: bold;
        }
        .fecha.tab-active{
            background-color: #fea433;
        }
    }
    #progress{
        width: 81%;
        height: 30%;
        display: flex;
        margin-top: 2%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        #tituloFechas{
            p:nth-child(2){
                font-family: $latBold;
            }
            p:nth-child(3){

                font-size: 2rem;
            }
        }
        #bar{
            height: 20%;
            width: 70%;
            background-color: #211b02;
            position: relative;
            border: 4px solid #c97720;
            border-radius: 10px;
            #progressBar{
                position: absolute;
                height: 100%;
                background: rgb(250,205,103);
                background: linear-gradient(90deg, rgba(250,205,103,1) 0%, rgba(254,166,53,1) 60%);
                animation: progress-animation 5s forwards;
                border-radius: 5px;
                font-family: $latUltHeav
            }
        }
        @keyframes progress-animation{
            0%{
                width: 0%;
            }
            100%{
                width: 100%;
            }
        }
    }
    #progressWithouthRiddle{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
    }
    #tabsGeneralContainer{
        width: 90%;
        height: 100%;
        #tabsTable{
            display: flex;
            justify-content: space-around;
            width: 30%;
            height: 10%;
            margin: auto;
        }
        .tabrank{
            width: 45%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #221c02;
            border: 3px solid #c27520;
            border-radius: 30%;
            font-family: $latBold;
            cursor: pointer;
            transition: all 1000ms;
        }
        .tabrankActive{
            background: rgb(250,205,103);
            background: linear-gradient(90deg, rgba(250,205,103,1) 0%, rgba(254,166,53,1) 60%);
            transition: all 1000ms; 
        }
    }
    #contentTables{
        width: 100%;
        height: 90%;
    }
    .contentRank{
        width: 100%;
        height: 100%;
        display: none;
        #rankTable{
            width: 100%;
            margin: auto;
            .trIndice{
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
                font-family: $latBold;

            }
            .trDato{
                padding-top: 10px;
                p:first-child{
                    font-family: $latBold;
                }
                td{
                    flex-basis: 0;
                    flex-grow: 1;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                td:first-child{
                    width: 63%;
                    justify-content: space-between;
                }
            }
        }
    }
    .contentRankActive{
        display: block;
    }
  }

        /* TAB CONTENTS */
        // .contents {
        //     width: 100%;
        // }

        .content {
            width: 93%;
            height: 80%;
            margin: auto;
            display: none;
            padding: 0;
            margin: auto;
            border: none;
        }

        .content-show {
            display: flex;
            animation-name: fade-out;
            animation-duration: 2.5s;
        }
        
        @keyframes fade-out {
            0% {
                opacity: 0;
                display: flex;
            }
            99% {
                opacity: 0;
                display: flex;
            }
            100% {
                opacity: 0;
                display: none;
            }
        }

        .content-active {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3%;
            // grid-template-columns:auto auto auto;
            // justify-content: center;
            animation-name: fade-in;
            animation-duration: 2.5s;
            #racesInter{
                width: 95%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            .raceInter{
                position: relative;
                flex: 1 0 auto;
                width: 30%;
                height: 25%;
                // background-image: url(../../assets/img/inter/fondo1.png);
                background-size: 100% 100%;
                .position{
                    left: 10%;
                    top: 5%;
                    font-family: $latReg;
                    font-weight: bold;
                    font-size: 2rem;
                    color: rgba(132, 132, 132, 0.72);
                }
                .botonRace{
                    img{
                        margin: 0;
                        position: absolute;
                        bottom: -10%;
                        left: 50%;
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                }
                .hour{
                    font-size: 1.5rem;
                    font-family: $digital;
                }
            }
            #raceLocked{
                width: 95%;
                height: 95%;
                margin: auto;
                border-radius: 15%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(31, 27, 29, 0.66);
                opacity:1;
            }
        }
    }

        @keyframes fade-in {
            0% {
                display: none;
                opacity: 0;
            }
            1% {
                display: block;
                opacity: 0.01;
            }
            100%{
                display: block;
                opacity: 1;
            }
        }

        // .fecha.content-active {background-color: red;}
        

        /* BUTTON PREVIOUS NEXT */
        .button {
          /* position: absolute;
          top: 49%; */
          z-index: 4;
          cursor: pointer;
        }
        /* .buttons{
            position: absolute;
            top: 0%;
        }
        .next{
            right: 0%;
        } */
        #rankingMenu{
            position: fixed;
            width: 50%;
            height: 90%;
            background: rgb(30,26,1);
            background: linear-gradient(180deg, rgba(30,26,1,1) 0%, rgba(41,33,4,1) 34%, rgba(51,38,7,1) 64%, rgba(60,44,10,1) 100%); 
            // background: $gradient2;
            display: flex;
            top: -400%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 200;
            border-radius: .8rem;
            border: 4px solid #8c510f;
            transition: all 500ms;
            #rankingClose{
                img{
                    width: 5%;
                    position: absolute;
                    top: 0;
                    right: 2%;
                    cursor:pointer;
                }
            }
            .rankingContent{
                width: 100%;
                p{  
                    text-align: center;
                    color: $letraSombraColor;
                    font-family: $latUltHeav;
                    font-size: 2.4rem;
                    text-shadow: $sombrasLetras;
                    margin-top: 1%;
                }
                table{
                    width: 100%;
                    margin-top: 5%;
                    tr{
                        th{
                            font-family: $latUltHeav;
                            color: $white;
                        }
                    }
                }
            }
        }
/*Boleteria styles*/
#ticketDivs{
    width: 100%;
    height: 100vh;
    #tituloBol{
        h1{
            color: $letraSombraColor;
            font-family: $latUltHeav;
            font-size: 2rem;
            text-shadow: $sombrasLetras;
        }
    }
    #datesPrices{
        width: 55%;
        height: 80%;
        margin: auto;
        #pricesBol{
            display: flex;
            width: 100%;
            height: 80%;
            margin: auto;   
            justify-content: space-between;
            align-items: center;
            #porFecha{
                width: 45%;
                height: 80%;
                background-image: url(../img/inter/FONDO\ 1-07.png);
                background-size: 100% 100%;
            }
            #full{
                width: 45%;
                height: 80%;
                background-image: url(../img/inter/FONDO\ 2-07.png);
                background-size: 100% 100%;
            }
            .tituloPrices{
                p:first-child{
                    color: #ffb800;
                    font-family: $latReg;
                    font-size: 2rem;
                    margin-top: 5%;
                }

            }
            #priceTicket{
                p{
                    font-size: 2.5rem;
                    font-family: $latReg
                }
            }
        }
        #canjear{
            display: flex;
            justify-content: space-between;
            height: 7%;
            input{
                width: 80%;
                height: 100%;
                border-radius: 40px;
            }
            button{
                background-color: #80a09c;
                width: 19%;
                font-family: $latBold;
                border-radius: 40px;
            }
        }
    }
}