*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
//Fuentes
@font-face {
    font-family: 'Latina bold';
    src:url('../fonts/latbold/Latina\ W00\ Bold.ttf');
}
@font-face {
    font-family: 'Latina regular';
    src: url('../fonts/latregular/Latina\ W00\ Regular.ttf');
}
@font-face {
    font-family: 'Latina ultra heavy';
    src: url('../fonts/latultheav/Latina\ W00\ Ultra\ Heavy.ttf');
}
$colorFondo : #001521;
$latBold: 'Latina bold';
$latReg: 'Latina regular';
$latUltHeav: 'Latina ultra heavy';
$white: #fff;
$colorInputs: #011625;
$colorHave: #426264;
$black: #000;
$gradient1: rgb(0,74,61);
$gradient2: linear-gradient(180deg, rgba(0,74,61,1) 0%, rgba(0,57,53,1) 34%, rgba(0,38,44,1) 64%, rgba(0,21,33,1) 100%);
//Main
#main{
    background: $colorFondo;
}
#body{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.menu.menu-opened{
    position: relative;
    top: 40px!important;
    z-index: 2999!important;
}
.body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(13, 0, 13, 0.38);
    z-index: 1500;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.menu-opened.body::after{
    opacity: 1;
    transform: scale(1);
}
//Header
#header{
    background: url(../img/FONDO\ AMARILLO\ T-06-06.png);
    background-size: cover;
    height: 100vh;
}
#header::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg, $colorFondo, transparent 47%);
    z-index: 55;
}
#mobileMenu{
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: $gradient1;
    background: $gradient2;
    display: flex;
    top: -400%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-radius: .8rem;
    transition: all 500ms;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    a{
        font-family: $latBold!important;
        font-weight: bold;
        img{
            width: 40%;
        }
    }
}
#buttonsMobile{
    margin-top: 5%;
}
#navsup{
    width: 85%;
    height: 10%;
    padding: 2%;
    background: rgb(77,53,19);
    background: linear-gradient(90deg, rgba(77,53,19,1) 0%, rgba(70,48,16,1) 35%, rgba(70,48,16,1) 100%);
    border: 5px solid;
    border-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        from(#7e5023),
        to(#dcae19)
    );
    border-image: linear-gradient(right,
    #7e5023,
    #dcae19);
    border-image-slice:1;
    z-index: 199;
    top: 0px;
    ul{
        width: 45%;
        img{
            width: 50%;
            transition: all 0.6s;
        }
        img:hover{
            transform: scale(2, 2);
            transition: all 0.6s;
        }
    }
}
#hambMenu{
    display: none;
}
#hambMenuClose{
    position: absolute;
    top: 0;
    right: 2%;
}
#logo{
    width: 20%;
    img{
        width: 50%;
        height: auto;
    }
}
#frase{
    width: 85%;
    height: 50%;
    #frase1{
        font-family: $latUltHeav;
        font-size: 50px;
    }
    #frase2{
        font-family: $latReg;
        font-size: 20px;
    }
    img{
        width: 30%;
        margin-top: 40px;
        margin-left: 40px;
        z-index: 100;
    }
}
#buttons{
    width: 30%;
    li{
        width: 50%;
        font-family: $latUltHeav;
        color: $white;
        a{
            font-size: 90%;
            img{
                width: 80%;
            }
        }
    }
    .button-sign{
        width: 35%;
    }
}
#bannerAndAnnounce{
    height: 100vh;
    background-color: $colorFondo;
    #banner{
        background-color: $white;
        width: 70%;
        height: 60%;
    }
    #announce{
        background-color: $white;
        width: 40%;
        height: 15%;
    }
}
#caracteristics{
    width: 80%;
    background-color: $colorFondo;
    .caracteristic{
        width: 35%;
        height: 70%;
        .imagecaract{
            height: 50%
        }
        img{
            width: 50%;
        }
        .title{
            font-family: $latUltHeav;
        }
        .text{
            width: 70%;
            font-family: $latReg;
            font-size: 17px;
        }
    }
    .caract-center{
            color: white;
            border-width: 3px;
            border-style: solid;
            border-image: 
              linear-gradient(
                to top, 
                #6d7a80, 
                rgba(0, 0, 0, 0)
              ) 1 100%;
    }
}
#raceSectionAndfaq{
    background-image: url(../img/FONDO\ PIEDRAS-06.png);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 100px;
    #races{
        width: 75%;
        height: 30%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        .race{
            width: 31%;
            height: 40%;
            z-index: 60;
            cursor: pointer;
        }
    }
    .raceTitle{
        font-family: $latUltHeav;
        font-size: 200%;
    }
    .raceDescription{
        color: #ffb800;
        font-family: $latBold;
        font-size: 15px;
    }
    #faq{
        width: 90%;
        height: auto;
        margin: auto;
        z-index: 500;
        #textandline{
            width: 80%;
            height: 10%;
            margin-bottom: 5%;
            p{
                width: 20%;
                font-family: $latReg;
            }
            #line{
                width: 80%;
                height: 10%;
                border-bottom: 1px solid $white;
            }
        }
        #faqs{
            box-sizing: border-box;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .accordionfaq{
            display: flex;
            flex-direction: column;
            background-image: url(../img/CUADRADO\ PREGUNTAS\ FRECUENTES-06.png)!important;
            // background-color: #302910;
            background-size: 100% 100%;
            // border: 5px solid;
            // border-image: -webkit-gradient(
            //     linear,
            //     right bottom,
            //     left top,
            //     from(#7e5023),
            //     to(#dcae19)
            // );
            // border-image: linear-gradient(right,
            // #7e5023,
            // #dcae19);
            // border-image-slice: 1;
            padding: 1rem;
            margin-top: 1px;
            margin-bottom: 5px;
            font-family: $latBold;
        .accordion-link{
            font-size: 100%;
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;
            margin-left: 1%!important;
            margin-top: 1%;
            i{
                padding: .5rem;
                margin-right: 2%;
            }
            .fa-solid.fa-minus{
                display: none;
            }
        }
        .answer{
            max-height: 0;
            overflow: hidden;
            position: relative;
            background-color: #302910;
            transition: max-height 650ms;
            p{
                color: $white;
                font-size: 80%;
                padding: 1rem;
            }
        }
        .answer::before{
            content: "";
            position: absolute;
            width: .6rem;
            height: 100%;
            background-color: #a47233;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
        }
    }
    .accordionfaq:target .answer{
        max-height: 20rem!important;
    }
    .accordionfaq:target .accordion-link .fa-solid.fa-plus{
        display: none;
    }
    .accordionfaq:target .accordion-link .fa-solid.fa-minus{
        display: block;
    }
        //     .faqDiv{
        //         width: 100%;
        //         height: auto;
        //         display: flex;
        //         justify-content: center;
        //         .faqImg{
        //             width: 100%;
        //             height: 100%;
        //             img{

        //             }
        //         }
        //         .faqAnswer{
        //             width: 65%;
        //             display: flex;
        //             align-self: center;
        //             p{
        //                 font-size: 100%;
        //                 color: $white;
        //                 font-family: $latBold;
        //             }
        //         }
        //     }
        // }
        // .plus{
        //     color: $white;
        //     font-weight: bold;
        //     width: 15%;
        //     align-self: center;
        //     right: 4%;
        //     font-size: 100%;
        //     z-index: 300;
        // }
    }
}
#announce2{
    background-color: $white;
    width: 40%;
    height: 120px;
    margin-top: 20px;
}
#raceSectionAndfaq::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(180deg, $colorFondo, transparent 67%);
    z-index: 50;
}
#contentfoot{
    margin: auto;
    width: 90%;
}
#footer{
    width: 90%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid $white ;
    height: auto;
    font-family: $latBold;
    #menudown{
        width: 65%;
    }
    #footernet{
        width: 30%;
        justify-content: end;
        ul{
            width: 50%;
            li{
                i{
                    font-size: 25px;
                }
            }
        }
    }
}
//Formreg styles
#titreg{
    font-family: $latBold;
}
#textreg{
    font-family: $latReg;
}
#register{
    width: 90%;
}
#mainreg{
    background: $gradient1;
    background: $gradient2; 
    #navsup{
        height: 10vh;
    }
}
#createlog{
    width: 15%;
    border-radius: 90px;
    background-color: $colorHave;
    font-family: $latBold;
}
#registerdiv{
    width: 100%;
#form{
    width: 50%;
    margin-bottom: 5%;
}
}
#formlog input{
    font-family: $latBold;
    border: none;
}
#form input{
    background-color: $colorFondo;
    font-family: $latBold;
    border: none;
}
#grupo__terminos{
    font-family: $latBold;
}
.titulo{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.titulo::before, .titulo::after{
    content:"";
    height: 2px;
    background-color: $white;
    display: block;
}
#redes{
    width: 20%;
    a{
        width: 40%;
        border-radius: 40%;
        i{
            color: $white;
        }
    }
}
#redeslog{
    width: 10%;
    a{
        width: 40%;
        border-radius: 40%;
        i{
            color: $white;
        }
    }
}
#got{
    border-radius: 90px;
    background-color: $colorHave;
    font-family: $latBold;
}
/* Color forms */
input[type='text'],
input[type='password'],
input[type='email']{
    background:$colorFondo;
    color: $white;
    font-weight: bold;
    border:none;
}
#mainlog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $gradient1;
    background: $gradient2;
    #login{
        width: 90%;
        margin: auto;
        margin-top: 5%;
        #formlog{
            width: 100%;
            .loginin{
                display: flex;
                justify-content: center;
                width: 40%;
                position: relative;
                input{
                    width: 100%;
                }
                i{
                    position: absolute;
                    top: 30%;
                    left: 2%;
                    color: $white;
                }
            }
        }
    }
}
#logolog{
    width: 15%;
}
#loginboton{
    width: 20%;
}
#buttonregister{
    width: 30%;
}
//Form validation styles
.formulario__input-error {
	font-size: 15px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
	color: $white;
}

.formulario__validacion-estado {
	position: absolute;
	top: 18%;
	right: 10px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: $colorInputs;
	padding: 0 15px;
	border-radius: 3px;
    border: 2px solid $white;
	display: none;
	color: $white;
}

.formulario__mensaje-activo {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: $black;
	color: $white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: $colorInputs;
	border: 2px solid $colorInputs;
	background-color: $white;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	position: absolute;
	top: 30%!important;
	color: $white;
	opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: $white;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
/*Interesc styles*/
#headerinter{
    height: 15%;
    #navsup{
        padding: 2.5%;
    #logo{
        width: 22%;
    }
    ul{
        width: 50%;
    }
    .buttonslog{
        width: 25%;
    }
    }
}
#maininter{
    background: $gradient1;
    background: $gradient2;
    width: 100%;
    height: 150vh;
    #schoolAndRanking{
        width: 85%;
        height: 80%;
        color: $white;
        #school{
            width: 30%;
            height: 70%;
            background-color: $colorFondo;
            border-radius: 5%;
            #schoolpicandname{
                width: 90%;
                margin: auto;
                border-bottom: 1px solid $white;
                #pic{
                    width: 30%;
                    height: 60%;
                    background-color: $white;
                    border-radius: 55%;
                }
            }
            #position{
                width: 90%;
                margin: auto;
                border-bottom: 1px solid $white;
            }
            #rankingside{
                width: 90%;
                margin: auto;
                border-bottom: 1px solid $white;
            }
        }
        #ranking{
            width: 65%;
            height: 100%;
            border: 1px solid $white;
        }
    }
}

/*Mail styles*/
#mainmail{
    background: $gradient1;
    background: $gradient2;
    height: 100%;
    margin-bottom: 50px;
    #mail{
        .mail{
            font-family: $latBold;
            font-size: 40px;
        }
        .frasemail{
            font-family: $latReg;
            font-size: 18px;
        }
    }
    #dontreceive{
        width: 50%;
        p{
            font-family: $latReg;
            font-size: 35px;
            letter-spacing: 2px;
        }
    }
    #buttonsreceive{
        width: 60%;
        a{
            width: 50%;
        }
        .end{
            text-align: end;
        }
        img{
            width: 100%;
        }
        .changebut{
            font-family: $latBold;
            border: 1px solid $white;
            text-align: center;
            border-radius: 20px;
        }
    }
    #netbuttons{
        width: 40%;
    }
    #redesbuttons{
        width: 10%;
        a{
            width: 40%;
            border-radius: 40%;
            i{
                color: $white;
                font-size: 20px;
            }
        }
    }
}
.buttonslog{
    li{
        width: 20%!important;
        text-align: end;
    }
}
/*Myprofile styles*/
#mainmyprof{
    background: $gradient1;
    background: $gradient2;
    height: auto;
    #headerprof{
        height: 15vh;
    }
}
#profilecontent{
    width: 85%;
    height: 150vh;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    #formprof{
        width: 80%;
        height: 20%;
        #circles{
            width: 90%;
            height: 80%;
            margin: auto;
            justify-content: space-between;
            .circle{
                width: 15%;
                height: 90%;
                border-radius: 90%;
                background-color: $white;
            }
        }
    }
    #formProfile{
        width: 80%;
        height: 80%;
        .pointer{
            pointer-events: none;
        }
        input{
            margin-top: 1%;
            margin-bottom: 1%;
            height: 40px;
            
        }
        .form-container{
            width: 90%;
        }
        #nameandlast{
            input{
                width: 49.8%;
            }
        }
        #changepass{
            width: 90%;
        }
    }
}