@media screen and (max-width: 1400px) {
  #buttons li a {
    font-size: 70% !important;
  }
}
@media screen and (max-width: 1100px) {
  .capa p:first-child {
    font-size: 2rem !important;
  }
  .capa p:nth-child(2) {
    font-size: 1.3rem !important;
  }

  #mainmail {
    overflow: auto !important;
  }
  #mainmail #buttonsreceive {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  #mainmail #buttonsreceive a {
    width: 80%;
    margin-bottom: 1rem;
  }

  #logo #logo1 {
    width: 25%;
  }

  #maininter #buttons {
    display: flex !important;
  }

  #frase {
    justify-content: center;
    align-items: center;
  }
  #frase img {
    margin-left: 0px;
    width: 30% !important;
  }
  #frase #frase1 {
    text-align: center;
    font-size: 35px;
  }
  #frase #frase2 {
    text-align: center;
  }
  #frase div {
    justify-content: center;
  }

  #navsup #hambMenu {
    display: block;
  }
  #navsup #hambMenu i {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
  }
  #navsup ul {
    display: none;
  }

  #raceSectionAndfaq {
    height: auto;
  }

  #caracteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #caracteristics .caracteristic {
    width: 100%;
    border: 0px;
  }

  #races {
    width: 100% !important;
    margin-top: 60px !important;
    display: flex;
    flex-direction: column;
  }
  #races .race {
    width: 50% !important;
    margin-bottom: 1.5rem;
  }

  #buttons {
    display: none;
  }
  .loginin {
    width: 75% !important;
  }

  #headerinter #navsup #buttons {
    display: none !important;
  }
}
@media screen and (max-width: 841px) {
  #ennounce {
    text-align: center !important;
  }
  #ennounce p {
    font-size: 1rem !important;
  }

  #ennounceButt button {
    width: 40% !important;
  }

  #contentfoot {
    justify-content: center;
    flex-direction: column;
  }

  #menudown {
    width: 100% !important;
    margin: auto;
  }
  #menudown ul {
    flex-direction: column;
    text-align: center;
  }
  #menudown ul li {
    transition: all 500ms;
  }
  #menudown ul li:hover {
    font-family: "latina bold";
    font-size: 1.2rem;
    transition: all 500ms;
  }

  #footernet {
    width: auto !important;
    justify-content: center !important;
    margin-top: 9%;
  }

  #termsTitle p {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 758px) {
  .accordionfaq {
    padding: 0.4rem !important;
  }

  .accordion-link {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 541px) {
  #acertijoTime {
    width: 30% !important;
  }

  #allraces #allracestitle {
    font-size: 1.5rem !important;
  }
  #allraces #racesTable {
    font-size: 7px !important;
  }

  #acertijotext {
    width: 85% !important;
  }

  #frase img {
    width: 55% !important;
  }
  #frase #frase1 {
    font-size: 150% !important;
  }
  #frase #frase2 {
    font-size: 100% !important;
  }

  .faqAnswer p {
    font-size: 60% !important;
  }

  .plus {
    font-size: 60% !important;
  }

  #textandline p {
    font-size: 38%;
    font-weight: bold;
  }
}
@media screen and (max-width: 450px) {
  #actFoot ul {
    width: 50% !important;
  }

  #ennounceButt button {
    width: 55% !important;
  }

  .raceTitle a,
.raceTitle p {
    font-size: 1rem !important;
  }

  .modes {
    margin-top: 2rem;
  }

  #failriddle {
    width: 50% !important;
  }

  .caracteristic .text {
    font-size: 80% !important;
  }

  .raceTitle {
    font-size: 1rem !important;
  }

  .raceDescription {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 340px) {
  .faqAnswer p {
    font-size: 35% !important;
  }

  .plus {
    font-size: 35% !important;
  }
}
@media screen and (max-width: 310px) {
  .raceDescription {
    font-size: 5px !important;
  }
}
/*Register medias*/
@media screen and (max-width: 680px) {
  #logo #logo1 {
    width: 28%;
  }

  #mainreg #navsup {
    width: 90% !important;
  }

  #form {
    width: 90% !important;
  }
  #form input {
    font-size: 80%;
  }
  #form #grupo__terminos {
    font-size: 70%;
  }

  #buttonregister {
    width: 60%;
  }

  #regrayas {
    font-size: 70%;
  }

  #got {
    width: 90%;
    border-radius: 1rem;
    font-size: 75%;
  }

  #redes {
    width: 90%;
  }
  #redes a {
    width: 49%;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 580px) {
  #logo a {
    left: -7%;
  }
  #logo #logo1 {
    width: 30%;
  }
}
@media screen and (max-width: 380px) {
  #logo #logo1 {
    width: 55%;
  }

  #redes {
    display: flex;
    flex-direction: column;
  }
  #redes a {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 330px) {
  #textreg {
    font-size: 65% !important;
  }
}
/*Login medias*/
@media screen and (max-width: 1210px) {
  #racesTable {
    font-size: 10.5px !important;
  }

  #createlog {
    width: 25%;
  }
}
@media screen and (max-width: 1130px) {
  #rayaslog p {
    font-size: 75%;
  }
}
@media screen and (max-width: 760px) {
  .capa p:first-child {
    font-size: 1.5rem !important;
  }
  .capa p:nth-child(2) {
    font-size: 0.9rem !important;
  }

  #formlog .loginin {
    width: 95% !important;
  }
  #formlog #loginboton {
    width: 35% !important;
  }
  #formlog #rayaslog {
    width: 75% !important;
  }
  #formlog #rayaslog p {
    font-size: 70%;
  }

  #redeslog {
    width: 90%;
  }
  #redeslog a {
    width: 49%;
    border-radius: 1rem;
  }

  #createlog {
    width: 95%;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 401px) {
  #rayaslog p {
    font-size: 50% !important;
  }

  #redeslog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #redeslog a {
    width: 100%;
    margin-bottom: 1rem;
  }
}
/*Inter medias*/
@media screen and (max-width: 1000px) {
  .content {
    height: 70% !important;
  }

  .botonRace img {
    bottom: -5% !important;
  }

  .containerdate #contentTables {
    width: 100%;
    margin: auto;
  }
  .containerdate .tabs {
    width: 87% !important;
  }

  #schoolAndRanking {
    width: 100% !important;
    height: 200vh !important;
    flex-direction: column;
    align-items: center;
  }
  #schoolAndRanking #school {
    width: 85% !important;
    margin-bottom: 3% !important;
  }
  #schoolAndRanking #school .dissapear {
    display: none !important;
    transition: all 1000ms !important;
  }
  #schoolAndRanking #school #userAndName {
    display: flex !important;
  }
  #schoolAndRanking #school #pic {
    width: 20% !important;
  }
  #schoolAndRanking #ranking {
    width: 98% !important;
    height: 100vh;
  }
  #schoolAndRanking #racesInter {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 960px) {
  #rankingMenu .rankingContent p {
    font-size: 1.4rem !important;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 575px) {
  #profilecontent {
    width: 90% !important;
  }
  #profilecontent #formProfile {
    width: 100% !important;
  }

  #rankingMenu {
    width: 74%;
  }
}
@media screen and (max-width: 420px) {
  #textreg {
    width: 90% !important;
  }

  #mail p:first-child {
    font-size: 1.5rem !important;
  }
  #mail p:nth-child(2) {
    font-size: 9px !important;
  }

  #mobileMenuform {
    width: 77% !important;
  }
  #mobileMenuform .mobileUl {
    gap: 2.5rem !important;
  }
  #mobileMenuform .mobileUl a {
    font-size: 1rem !important;
  }

  #mobileMenu {
    width: 80% !important;
  }

  #logo #logo1 {
    width: 40%;
  }
}
@media screen and (max-width: 330px) {
  #logo #logo1 {
    width: 55%;
  }
}
@media screen and (max-width: 275px) {
  #mobileMenu .mobileUl li a {
    font-size: 1rem;
  }
  #mobileMenu .list-none a {
    font-size: 0.8rem;
  }
  #mobileMenu #hambMenuClose img {
    width: 20%;
  }

  .containerdate #tabsGeneralContainer .tabrank {
    width: 80%;
  }
}
@media screen and (max-width: 260px) {
  #rankingMenu .rankingContent p {
    font-size: 1rem !important;
  }

  #rankingTable th {
    font-size: 0.7rem;
  }
  #rankingTable tr {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 800px) {
  #tabsGeneralContainer {
    display: flex;
    flex-direction: column;
  }
  #tabsGeneralContainer #tabsTable {
    width: 55% !important;
    height: 20% !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tabrank {
    margin-bottom: 0.5rem !important;
  }

  #progress #tituloFechas p:nth-child(2) {
    font-size: 0.7rem;
  }

  #datedur {
    font-size: 0.7rem;
  }

  #racesInter {
    flex-wrap: nowrap !important;
    overflow: auto !important;
  }
  #racesInter .raceInter {
    width: 86% !important;
    height: 40% !important;
  }

  #progress {
    width: 100% !important;
  }
  #progress #bar {
    width: 80% !important;
  }

  .hour {
    font-size: 2rem !important;
  }

  .tab {
    height: 70% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem !important;
  }

  #schoolAndRanking .botonRace img {
    width: 30% !important;
  }

  /*classicoac medias*/
  #clasAcContent {
    margin-top: 4rem !important;
  }
  #clasAcContent .riddle {
    width: 48% !important;
  }
  #clasAcContent #classicTexts {
    margin-top: 2.5rem !important;
  }
}
@media screen and (max-width: 660px) {
  .botonRace img {
    bottom: -5% !important;
  }
}
@media screen and (max-width: 540px) {
  #tabsGeneralContainer #tabsTable {
    width: 80% !important;
  }
}
@media screen and (max-width: 485px) {
  .tab {
    font-size: 0.5rem !important;
    height: 55% !important;
  }

  .tabrank {
    height: 35% !important;
  }

  #racesInter .raceInter {
    height: 25% !important;
  }
}
@media screen and (max-width: 480px) {
  #tituloFechas p:first-child img {
    width: 85% !important;
  }

  #progress #tituloFechas p:first-child img {
    width: 95% !important;
  }
}
@media screen and (max-width: 330px) {
  #racesInter .raceInter {
    height: 20% !important;
  }

  .botonRace img {
    bottom: 0% !important;
  }

  .hour {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 320px) {
  #racesInter {
    height: 110% !important;
  }

  .containerdate #progress {
    height: 20% !important;
  }
}
/*table global,persona styles*/
@media screen and (max-width: 463px) {
  .trIndice {
    font-size: 0.7rem;
  }

  .trDato {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 510px) {
  #redesbuttons a {
    width: 90% !important;
  }

  #netbuttons {
    width: 90% !important;
  }

  #datesPrices {
    width: 85% !important;
  }
}
@media screen and (max-width: 291px) {
  #rankingMenu {
    width: 95% !important;
  }

  #navsup {
    width: 95% !important;
  }

  #schoolAndRanking #school {
    width: 95% !important;
  }

  .containerdate .tabs {
    width: 95% !important;
  }

  #datesPrices {
    width: 100% !important;
  }
}
/*Acertijo medias*/
@media screen and (max-width: 1500px) {
  #acertijotext #riddleSentence {
    overflow: auto !important;
  }
}
@media screen and (max-width: 1430px) {
  .capa {
    overflow: auto !important;
  }

  #acertijotext p:first-child {
    font-size: 1.8rem;
  }
  #acertijotext p:nth-child(2) {
    font-size: 0.8rem !important;
  }

  /*done medias*/
  #tab {
    overflow: auto;
  }
}
/*done medias*/
@media screen and (max-width: 1350px) {
  #time p {
    font-size: 1rem !important;
  }

  #donePos #posit p:first-child {
    font-size: 1.5rem !important;
  }

  #donemsg p {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 1020px) {
  #donePos {
    flex-direction: column;
  }
}
@media screen and (max-width: 930px) {
  #donehour {
    width: 20% !important;
  }

  #donetable {
    width: 35% !important;
  }

  .positNumber {
    left: 0% !important;
  }
}
@media screen and (max-width: 735px) {
  #donePos #posit p:first-child {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 660px) {
  #donehour {
    width: 25% !important;
  }

  #donemsg p {
    font-size: 2rem !important;
  }

  #posImg {
    width: 55px !important;
    height: 55px !important;
  }
  #posImg p {
    font-size: 2rem !important;
  }

  .rank {
    font-size: 1rem !important;
  }

  #doneTable tbody tr:first-child {
    font-size: 0.8rem !important;
  }
  #doneTable tbody .trInfo {
    font-size: 0.8rem !important;
  }

  #calavera {
    height: 30% !important;
  }

  #donetable {
    width: 50% !important;
  }

  #donehour {
    width: 35% !important;
  }
}
@media screen and (max-width: 490px) {
  #tituloFechas {
    font-size: 1.5rem !important;
  }

  #donemsg p {
    font-size: 1.5rem !important;
  }

  #donePos {
    width: 100% !important;
  }

  #time p {
    font-size: 0.7rem !important;
  }

  #doneTableBut {
    width: 25% !important;
  }
}
@media screen and (max-width: 350px) {
  #doneTable tbody tr:first-child {
    font-size: 0.5rem !important;
  }
  #doneTable tbody .trInfo {
    font-size: 0.5rem !important;
  }
}
@media screen and (max-width: 275px) {
  #donehour {
    width: 50% !important;
  }
}
@media screen and (max-width: 950px) {
  #raceContent {
    overflow: auto;
  }

  #logo1 {
    left: -9% !important;
  }

  #acertijoTime p {
    font-size: 0.9rem !important;
  }

  #acertijotext p:first-child {
    font-size: 1rem;
  }
  #acertijotext p:nth-child(2) {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 881px) {
  #failContent p:first-child {
    font-size: 2rem !important;
  }
  #failContent p:nth-child(2) {
    font-size: 0.8rem !important;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  #barProg {
    justify-content: center !important;
  }
  #barProg #barraProg {
    width: 20% !important;
  }

  #acertijotext {
    width: 85% !important;
    height: 45% !important;
  }
  #acertijotext p:first-child {
    font-size: 1rem !important;
  }

  #acertijoanswer {
    width: 75% !important;
  }
  #acertijoanswer input {
    font-size: 0.5rem;
  }
  #acertijoanswer p {
    font-size: 0.5rem !important;
  }

  #acertijoTime {
    width: 30% !important;
  }

  .acertijobutton button img {
    height: 80% !important;
  }
}
@media screen and (max-width: 350px) {
  #acertijoAll #barProg #barraProg p {
    font-size: 8px !important;
  }

  #acertijoTime p {
    font-size: 0.7rem !important;
  }

  #acertijoanswer p {
    font-size: 5px !important;
  }

  .acertijobutton {
    width: 40% !important;
  }
  .acertijobutton button img {
    height: 50% !important;
  }
}
/*popups riddles medias*/
@media screen and (max-width: 1190px) {
  #correctContent p:first-child {
    font-size: 20px !important;
  }
  #correctContent p:nth-child(2) {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 605px) {
  #correctContent p:first-child {
    font-size: 15px !important;
  }
  #correctContent p:nth-child(2) {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 465px) {
  #correctContent p:first-child {
    font-size: 1rem !important;
    text-align: center;
  }
  #correctContent p:nth-child(2) {
    font-size: 0.8rem !important;
    text-align: center;
  }

  #acertijoTime p {
    font-size: 10px !important;
  }

  #acertijotext p:nth-child(2) {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 315px) {
  #correctContent p:first-child {
    font-size: 0.7rem !important;
    text-align: center;
  }
  #correctContent p:nth-child(2) {
    font-size: 0.6rem !important;
    text-align: center;
  }
}
@media screen and (max-width: 975px) {
  #completedContent p:first-child {
    font-size: 20px !important;
  }
  #completedContent p:nth-child(2) {
    font-size: 15px !important;
  }
  #completedContent p:nth-child(3) {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 620px) {
  #racesTable table .trRaces td:last-child a img {
    width: 100% !important;
  }

  #completedContent p:nth-child(3) {
    font-size: 6px !important;
  }

  #termsTitle p {
    font-size: 1.7rem !important;
  }

  #termsText p {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 380px) {
  #completedContent p:first-child {
    font-size: 1rem !important;
  }
  #completedContent p:nth-child(2) {
    font-size: 0.8rem !important;
  }
  #completedContent p:nth-child(3) {
    font-size: 0.6rem !important;
    text-align: center;
  }

  #buttonCompleted img {
    width: 45% !important;
  }
}
/*perfil medias*/
@media screen and (max-width: 1106px) {
  #profileButtons button:first-child {
    width: 45% !important;
  }
  #profileButtons button:nth-child(2) {
    width: 35% !important;
  }
}
@media screen and (max-width: 790px) {
  #termsText {
    width: 85% !important;
  }
  .racetod {
    display: none !important;
  }

  #pubText p:nth-child(2) {
    width: 70% !important;
  }

  #racesTod #swipRace {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block !important;
  }
  #racesTod #swipRace .swiper-slide .racetod {
    width: 55% !important;
    margin: auto;
    display: flex !important;
  }

  #profilecontent {
    overflow: auto;
  }

  #nameandlast {
    flex-direction: column !important;
  }
  #nameandlast input {
    width: 100% !important;
  }

  #profileButtons button {
    font-size: 10px !important;
  }
  #profileButtons button:first-child {
    width: 60% !important;
  }
  #profileButtons button:nth-child(2) {
    width: 50% !important;
  }
}
@media screen and (max-width: 685px) {
  #circles {
    height: 95% !important;
    overflow: auto !important;
  }

  #formProfile {
    margin-top: 15% !important;
  }

  .contCirc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contCirc .circle {
    margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 460px) {
  #racesTod #swipRace .swiperButts::after {
    font-size: 1.5rem !important;
  }
  #racesTod #swipRace .swiper-slide .racetod {
    width: 85% !important;
  }
  #racesTod #swipRace .swiperButtonraceNext {
    right: -5px;
  }
  #racesTod #swipRace .swiperButtonracePrev {
    left: -5px;
  }

  #competitors .competitor .modesimg:first-child {
    margin-top: 30%;
  }
  #competitors .competitor .ulmodes:nth-child(2) {
    margin-bottom: 30%;
  }
  #competitors .competitor .modescomp {
    width: 100% !important;
    margin-top: 10%;
  }
  #competitors .competitor .modescomp .ulmodes {
    margin-top: 25% !important;
  }

  #profilecontent img {
    width: 55% !important;
  }

  #formProfile input {
    font-size: 0.7rem !important;
  }

  /*classicoac medias*/
  #clasAcContent .riddle {
    width: 95% !important;
    height: 15% !important;
  }
  #clasAcContent .riddle .botonRace img {
    width: 24% !important;
  }
  #clasAcContent #classicTexts p:first-child {
    font-size: 2rem !important;
  }
  #clasAcContent #classicTexts p:nth-child(2) {
    width: 80% !important;
    margin: auto !important;
  }
}
@media screen and (max-width: 360px) {
  #profileButtons {
    width: 100% !important;
  }
}
/*Boleteria medias*/
@media screen and (max-width: 1030px) {
  #ticketDivs #tituloBol h1 {
    margin-bottom: 1.5rem !important;
  }

  #pricesBol {
    height: 100% !important;
    flex-direction: column;
  }
  #pricesBol #porFecha {
    width: 90% !important;
    margin-bottom: 1rem;
  }
  #pricesBol #full {
    width: 90% !important;
    margin-bottom: 1rem;
  }
  #pricesBol #priceTicket {
    width: 30% !important;
  }

  #buyButton img {
    width: 60% !important;
  }

  #canjear {
    width: 90% !important;
  }
}
@media screen and (max-width: 770px) {
  #ticketDivs {
    overflow: auto;
  }

  .tituloPrices p:first-child {
    font-size: 1rem !important;
  }

  #canjear {
    height: 20% !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #canjear input,
#canjear button {
    height: 50% !important;
    font-size: 0.7rem !important;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  #canjear input {
    width: 100% !important;
  }
  #canjear button {
    width: 45% !important;
  }
}
/*terminos medias*/
/*book medias*/
@media screen and (max-width: 695px) {
  #formDivBokk .oneinpt {
    width: 100% !important;
  }
  #formDivBokk #formd .twoinp {
    flex-direction: column !important;
  }
  #formDivBokk #formd .twoinp .inp {
    width: 100%;
  }
  #formDivBokk #formd .threeinp {
    flex-direction: column !important;
  }
  #formDivBokk #formd .threeinp .inpt {
    width: 100%;
  }
  #formDivBokk #threebuttons {
    width: 100% !important;
    flex-direction: column !important;
  }
  #formDivBokk #threebuttons button {
    width: 100% !important;
    margin-bottom: 0.5rem;
    height: 3rem !important;
  }
}
@media screen and (max-width: 450px) {
  .capa p:first-child {
    font-size: 1rem !important;
  }
  .capa p:nth-child(2) {
    font-size: 0.6rem !important;
  }

  #formDivBokk #twoRadios {
    flex-direction: column !important;
  }
  #formDivBokk #twoRadios .radio {
    width: 100% !important;
  }
}
/*form medias view*/
@media screen and (max-width: 1080px) {
  #imgandbutts {
    flex-direction: column-reverse;
    overflow: auto;
    justify-content: center;
    align-items: center;
  }
  #imgandbutts img {
    margin-top: 2rem;
  }
  #imgandbutts #butts {
    align-items: center;
    margin-top: 1.5rem;
  }
  #imgandbutts .butt {
    height: 5rem !important;
  }
  #imgandbutts .butt a {
    font-size: 1rem;
  }

  .modescomp2 {
    height: 75% !important;
    margin-top: 3rem;
  }

  #reward {
    padding-bottom: 2rem;
  }

  #presnav #presMenu {
    display: none;
  }
  #presnav #hambMenu {
    display: block;
  }
  #presnav #hambMenu i {
    color: #fff;
    font-size: 2rem;
  }

  #interPresentcont2 {
    overflow: auto;
  }
  #interPresentcont2 #titlepres2 p {
    font-size: 1.5rem;
  }
  #interPresentcont2 #textpres2 {
    font-size: 0.8rem;
  }
  #interPresentcont2 #dynamicAndReward {
    width: 100%;
    flex-direction: column;
  }
  #interPresentcont2 #dynamicAndReward .modes {
    flex-direction: column;
  }
  #interPresentcont2 #dynamicAndReward .modes .ulmodes {
    text-align: left;
    margin-left: 0 !important;
  }
  #interPresentcont2 #dynamicAndReward .thingsd .modes .ulmodes .modes200 {
    width: 100% !important;
  }

  #interPresentcont3 {
    height: 100vh !important;
    overflow: auto;
  }
  #interPresentcont3 #competitors {
    flex-direction: column;
  }
  #interPresentcont3 #competitors .ulmodes ul {
    width: 100% !important;
  }
  #interPresentcont3 #competitors .ulmodes p {
    width: 100% !important;
  }
  #interPresentcont3 #competitors .modescomp {
    flex-direction: column;
  }
  #interPresentcont3 #competitors .modescomp2 {
    flex-direction: column;
  }

  .ulmodes {
    width: 100% !important;
    text-align: center !important;
  }

  .competitor {
    width: 100% !important;
  }

  .butt {
    width: 100% !important;
  }

  .things {
    width: 100% !important;
  }
}
@media screen and (max-width: 660px) {
  .menuform {
    width: 95% !important;
  }

  #presTitle p:first-child {
    font-size: 2rem !important;
  }
  #presTitle p:nth-child(2) {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 490px) {
  #interPresentcont2 #dynamicAndReward .thingsd {
    width: 100% !important;
  }
  #interPresentcont2 #dynamicAndReward .modes {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  #formTitleBox {
    width: 90% !important;
  }

  #formend .inp {
    width: 95% !important;
  }

  .butt {
    font-size: 1rem !important;
  }
}
/*support medias*/
@media screen and (max-width: 600px) {
  .answer {
    overflow: auto !important;
  }

  #supportElements {
    overflow: auto;
  }

  #supportInfo {
    width: 100% !important;
    align-items: center;
  }
  #supportInfo #supportInfTit {
    margin-bottom: 10px;
  }
  #supportInfo div {
    flex-direction: column;
  }
  #supportInfo div i {
    margin-right: 0px !important;
  }

  #supportInfo {
    height: 25% !important;
  }
  #supportInfo #phone {
    margin-top: 1rem !important;
  }

  #supportForm {
    height: 80% !important;
  }
  #supportForm p {
    text-align: center;
    margin-top: 1rem;
  }

  #supportButton button {
    width: 100% !important;
    margin-top: 1rem;
  }

  #supportNet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #supportNet ul {
    width: 55% !important;
  }
  #supportNet ul li {
    font-size: 1.6rem !important;
  }
}
/*mailconf medias*/
@media screen and (max-width: 850px) {
  #middleText p {
    font-size: 1rem !important;
    width: 90%;
  }

  #buttonconf button {
    width: 90% !important;
  }
}
@media screen and (max-width: 400px) {
  #mailconfcontent #logoandtext .logo img {
    width: 100px !important;
    height: 100px !important;
  }
  #mailconfcontent #logoandtext .text {
    font-size: 1.2rem;
  }
}
/*how medias*/
@media screen and (max-width: 1230px) {
  .howdiv p {
    font-size: 1.5rem !important;
  }

  #mainrace .raceTitle {
    width: 80% !important;
  }
}
@media screen and (max-width: 865px) {
  .howdiv {
    width: 85% !important;
  }
}
@media screen and (max-width: 510px) {
  #mainmail #buttonsreceive {
    width: 100% !important;
  }
  #mainmail #buttonsreceive a {
    width: 80%;
    margin-bottom: 1rem;
  }

  #howtitle p {
    font-size: 2rem !important;
  }

  .howdiv img {
    width: 90% !important;
  }
  .howdiv p {
    font-size: 1rem !important;
  }
  .howdiv .star {
    width: 20% !important;
  }
}
/*classic medias*/
@media screen and (max-width: 900px) {
  #divNav {
    visibility: visible !important;
  }

  .racetod {
    width: 32% !important;
  }

  #redesbuttons {
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }
  #redesbuttons a {
    margin-bottom: 1rem;
  }

  #dontreceive p {
    font-size: 1rem !important;
  }

  #netbuttons {
    font-size: 9px !important;
  }

  #mainclassic {
    overflow: auto;
    margin-bottom: 2%;
  }
  #mainclassic #classicLevels {
    width: 85% !important;
    overflow: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #mainclassic #classicLevels .classicLevel {
    width: 50% !important;
    height: 55% !important;
  }
}
@media screen and (max-width: 650px) {
  /*classicoac medias*/
  #mainclassic #classicLevels {
    width: 95% !important;
  }
  #mainclassic #classicLevels .classicLevel {
    width: 95% !important;
    height: 65% !important;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  #classicTexts {
    margin-top: 5rem;
  }

  #titleClas {
    font-size: 2rem !important;
  }

  #textClas {
    font-size: 10px;
  }
}
/*race medias*/
@media screen and (max-width: 990px) {
  .noth {
    display: none !important;
  }

  #pub {
    width: 80% !important;
    margin: auto !important;
  }
  #divNav {
    visibility: visible;
  }

  #boletLil {
    display: none;
  }

  #officialHour {
    display: none;
  }

  #titlePub {
    width: 100% !important;
    margin: auto;
  }
  #titlePub #pub {
    width: 80% !important;
    margin: auto;
  }
}

/*# sourceMappingURL=responsive.css.map */
