@media screen and (max-width: 1400px) {
  #buttons li a {
    font-size: 70% !important;
  }
}
@media screen and (max-width: 1100px) {
  #logo #logo1 {
    width: 30%;
  }

  #maininter #buttons {
    display: flex !important;
  }

  #frase {
    justify-content: center;
    align-items: center;
  }
  #frase img {
    margin-left: 0px;
    width: 30% !important;
  }
  #frase #frase1 {
    text-align: center;
    font-size: 35px;
  }
  #frase #frase2 {
    text-align: center;
  }
  #frase div {
    justify-content: center;
  }

  #navsup #hambMenu {
    display: block;
  }
  #navsup #hambMenu i {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
  }
  #navsup ul {
    display: none;
  }

  #raceSectionAndfaq {
    height: auto;
  }

  #caracteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #caracteristics .caracteristic {
    width: 100%;
    border: 0px;
  }

  #races {
    width: 100% !important;
    margin-top: 60px !important;
    display: flex;
    flex-direction: column;
  }
  #races .race {
    width: 50% !important;
  }

  #buttons {
    display: none;
  }
  .loginin {
    width: 75% !important;
  }
}
@media screen and (max-width: 841px) {
  #contentfoot {
    justify-content: center;
    flex-direction: column;
  }

  #menudown {
    width: auto;
    margin: auto;
  }
  #menudown ul {
    flex-direction: column;
  }

  #footernet {
    width: auto !important;
    justify-content: center !important;
    margin-top: 9%;
  }

  #menudown {
    width: 50% !important;
  }
}
@media screen and (max-width: 758px) {
  .accordionfaq {
    padding: 0.4rem !important;
  }

  .accordion-link {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 541px) {
  #frase img {
    width: 55% !important;
  }
  #frase #frase1 {
    font-size: 150% !important;
  }
  #frase #frase2 {
    font-size: 100% !important;
  }

  .faqAnswer p {
    font-size: 60% !important;
  }

  .plus {
    font-size: 60% !important;
  }

  #textandline p {
    font-size: 38%;
    font-weight: bold;
  }
}
@media screen and (max-width: 450px) {
  .caracteristic .text {
    font-size: 80% !important;
  }

  .raceTitle {
    font-size: 125% !important;
  }

  .raceDescription {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 340px) {
  .faqAnswer p {
    font-size: 35% !important;
  }

  .plus {
    font-size: 35% !important;
  }
}
@media screen and (max-width: 310px) {
  .raceTitle {
    font-size: 100% !important;
  }

  .raceDescription {
    font-size: 5px !important;
  }
}
/*Register medias*/
@media screen and (max-width: 680px) {
  #logo #logo1 {
    width: 40%;
  }

  #mainreg #navsup {
    width: 90% !important;
  }

  #form {
    width: 90% !important;
  }
  #form input {
    font-size: 80%;
  }
  #form #grupo__terminos {
    font-size: 70%;
  }

  #buttonregister {
    width: 60%;
  }

  #regrayas {
    font-size: 70%;
  }

  #got {
    font-size: 75%;
  }
}
@media screen and (max-width: 380px) {
  #logo #logo1 {
    width: 55%;
  }

  #redes {
    display: flex;
    flex-direction: column;
  }
  #redes a {
    width: 100%;
    border-radius: 20%;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 330px) {
  #textreg {
    font-size: 65% !important;
  }
}
/*Login medias*/
@media screen and (max-width: 1210px) {
  #createlog {
    width: 25%;
  }
}
@media screen and (max-width: 1130px) {
  #rayaslog p {
    font-size: 75%;
  }
}
@media screen and (max-width: 760px) {
  #formlog .loginin {
    width: 75% !important;
  }
  #formlog #loginboton {
    width: 35% !important;
  }
  #formlog #rayaslog {
    width: 75% !important;
  }
  #formlog #rayaslog p {
    font-size: 70%;
  }

  #redeslog {
    width: 20%;
  }
}
@media screen and (max-width: 726px) {
  #createlog {
    width: 35%;
    font-size: 70%;
  }
}
@media screen and (max-width: 401px) {
  #rayaslog p {
    font-size: 50% !important;
  }

  #redeslog {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #redeslog a {
    border-radius: 20%;
    margin-bottom: 4px;
  }

  #createlog {
    font-size: 45%;
  }
}
/*Inter medias*/
@media screen and (max-width: 1000px) {
  #schoolAndRanking {
    width: 100% !important;
    height: 250vh !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #schoolAndRanking #school {
    width: 45% !important;
    margin-top: 10%;
  }
  #schoolAndRanking #ranking {
    height: 100vh;
  }
  #schoolAndRanking #racesInter {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  #tabsGeneralContainer {
    display: flex;
    flex-direction: column;
  }
  #tabsGeneralContainer #tabsTable {
    width: 55% !important;
    height: 20% !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tabrank {
    margin-bottom: 0.5rem !important;
  }

  #progress #tituloFechas p:first-child img {
    width: 60%;
  }
  #progress #tituloFechas p:nth-child(2) {
    font-size: 0.7rem;
  }

  #datedur {
    font-size: 0.7rem;
  }

  #racesInter {
    flex-wrap: nowrap !important;
    overflow: auto !important;
  }
  #racesInter .raceInter {
    width: 70% !important;
    height: 35% !important;
  }

  #school {
    margin-top: 20% !important;
  }

  .position {
    font-size: 1rem !important;
  }

  .hour {
    font-size: 1rem !important;
  }

  .tab {
    font-size: 0.5rem !important;
  }

  .botonRace img {
    width: 50% !important;
  }
}

/*# sourceMappingURL=responsive.css.map */
