* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Latina bold";
  src: url("../fonts/latbold/Latina W00 Bold.ttf");
}
@font-face {
  font-family: "Latina regular";
  src: url("../fonts/latregular/Latina W00 Regular.ttf");
}
@font-face {
  font-family: "Latina ultra heavy";
  src: url("../fonts/latultheav/Latina W00 Ultra Heavy.ttf");
}
@font-face {
  font-family: "Digital";
  src: url("../fonts/digital/wwDigital.ttf");
}
@font-face {
  font-family: "Paytone";
  src: url("../fonts/paytone/PaytoneOne.ttf");
}
#main {
  background: #001521;
}

#body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.menu.menu-opened {
  position: relative;
  top: 40px !important;
  z-index: 2999 !important;
}

.body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 0, 13, 0.38);
  z-index: 1500;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.menu-opened.body::after {
  opacity: 1;
  transform: scale(1);
}

#header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(360deg, #001521, transparent 47%);
  z-index: 55;
}

#mobileMenu {
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
  display: flex;
  top: -400%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  border-radius: 0.8rem;
  transition: all 500ms;
  padding: 15%;
}
#mobileMenu .mobileUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#mobileMenu .mobileUl li {
  width: 120%;
  height: 100%;
  border: 4px solid #ce7318;
  border-radius: 20px;
}
#mobileMenu .mobileUl li a {
  color: #831202;
  font-family: "Latina ultra heavy";
  font-size: 1.5rem;
  text-shadow: 0px 0 0 #dd8f4a, 0px 0 0 #d68a35, 0 0px 0 #7c6734, 0 0px 0 #f4c965, 2px 1px #e0a85a, -1px -1px 0 #efa641, 1px -1px 0 #b3863a, -1px 1px 0 #bd813f;
  transition: all 0.6s;
  padding: 1%;
}
#mobileMenu a img {
  width: 40%;
}

#buttonsMobile {
  margin-top: 5%;
}
#buttonsMobile li {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  border-radius: 20px;
  padding: 1%;
}
#buttonsMobile li a {
  font-family: "Latina regular";
  font-size: 1.2rem;
}

#navsup {
  width: 85%;
  height: 10vh;
  background: rgb(77, 53, 19);
  background: linear-gradient(90deg, rgb(77, 53, 19) 0%, rgb(70, 48, 16) 35%, rgb(70, 48, 16) 100%);
  border: 5px solid;
  border-image: -webkit-gradient(linear, right bottom, left top, from(#7e5023), to(#dcae19));
  border-image: linear-gradient(right, #7e5023, #dcae19);
  border-image-slice: 1;
  z-index: 199;
  top: 0px;
}
#navsup ul {
  width: 45%;
}
#navsup ul a {
  color: #831202;
  font-family: "Latina ultra heavy";
  font-size: 1.4rem;
  text-shadow: 0px 0 0 #dd8f4a, 0px 0 0 #d68a35, 0 0px 0 #7c6734, 0 0px 0 #f4c965, 2px 1px #e0a85a, -1px -1px 0 #efa641, 1px -1px 0 #b3863a, -1px 1px 0 #bd813f;
  transition: all 0.6s;
}
#navsup ul a:hover {
  transform: scale(1.5, 1.5);
  transition: all 0.6s;
}

#hambMenu {
  display: none;
}

#hambMenuClose {
  position: absolute;
  top: 0;
  right: 2%;
  display: flex;
  justify-content: end;
}
#hambMenuClose img {
  width: 10%;
}

#logo {
  width: 20%;
}
#logo a {
  left: -4%;
  width: 20%;
}
#logo a img:nth-child(2) {
  height: 50%;
}
#logo a img {
  width: 50%;
  height: 10%;
  height: auto;
}
#frase {
  width: 73%;
  height: 50%;
}
#frase #frase1 {
  font-family: "Latina ultra heavy";
  font-size: 35px;
}
#frase #frase2 {
  font-family: "Latina regular";
  font-size: 20px;
}
#frase div {
  width: 100%;
  display: flex;
}
#frase div img {
  width: 20%;
  margin-top: 40px;
  z-index: 100;
}

#buttons {
  width: 30%;
}
#buttons li {
  width: 50%;
  font-family: "Latina ultra heavy";
  color: #fff;
}
#buttons li a {
  font-size: 90%;
}
#buttons li a img {
  width: 80%;
}
#buttons .button-sign {
  width: 35%;
  border: 1px solid #fff;
  padding: 0.7%;
  border-radius: 10px;
  font-size: 0.9rem;
}

#bannerAndAnnounce {
  height: 100vh;
  background-color: #001521;
}
#bannerAndAnnounce #banner {
  background-color: #fff;
  width: 70%;
  height: 60%;
}
#bannerAndAnnounce #announce {
  background-color: #fff;
  width: 40%;
  height: 15%;
}

#caracteristics {
  width: 80%;
  background-color: #001521;
}
#caracteristics .caracteristic {
  width: 35%;
  height: 70%;
}
#caracteristics .caracteristic .imagecaract {
  height: 50%;
}
#caracteristics .caracteristic img {
  width: 50%;
}
#caracteristics .caracteristic .title {
  font-family: "Latina ultra heavy";
}
#caracteristics .caracteristic .text {
  width: 70%;
  font-family: "Latina regular";
  font-size: 17px;
}
#caracteristics .caract-center {
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to top, #6d7a80, rgba(0, 0, 0, 0)) 1 100%;
}

#raceSectionAndfaq {
  background-image: url(../img/landing/FONDO\ PIEDRAS-06.png);
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 100px;
  margin-top: 10%;
}
#raceSectionAndfaq #races {
  width: 75%;
  height: 30%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
#raceSectionAndfaq #races .race {
  width: 31%;
  height: 40%;
  z-index: 60;
  cursor: pointer;
}
#raceSectionAndfaq .raceTitle {
  font-family: "Latina ultra heavy";
  font-size: 200%;
}
#raceSectionAndfaq .raceDescription {
  color: #ffb800;
  font-family: "Latina bold";
  font-size: 15px;
}
#raceSectionAndfaq #faq {
  width: 90%;
  height: auto;
  margin: auto;
  z-index: 500;
}
#raceSectionAndfaq #faq #textandline {
  width: 80%;
  height: 10%;
  margin-bottom: 5%;
}
#raceSectionAndfaq #faq #textandline p {
  width: 20%;
  font-family: "Latina regular";
  font-size: 85%;
}
#raceSectionAndfaq #faq #textandline #line {
  width: 80%;
  height: 10%;
  border-bottom: 1px solid #fff;
}
#raceSectionAndfaq #faq #faqs {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#raceSectionAndfaq #faq .accordionfaq {
  display: flex;
  flex-direction: column;
  background-color: #302910;
  border: 5px solid;
  border-image: -webkit-gradient(linear, right bottom, left top, from(#7e5023), to(#dcae19));
  border-image: linear-gradient(right, #7e5023, #dcae19);
  border-image-slice: 1;
  margin-top: 1px;
  margin-bottom: 5px;
  font-family: "Latina bold";
}
#raceSectionAndfaq #faq .accordionfaq .accordion-link {
  font-size: 1.2rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  margin-left: 1% !important;
  margin-top: 1%;
  margin: auto;
}
#raceSectionAndfaq #faq .accordionfaq .accordion-link i {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 2%;
}
#raceSectionAndfaq #faq .accordionfaq .accordion-link .fa-solid.fa-minus {
  display: none;
}
#raceSectionAndfaq #faq .accordionfaq .answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #302910;
  transition: max-height 650ms;
}
#raceSectionAndfaq #faq .accordionfaq .answer p {
  color: #fff;
  font-size: 80%;
  padding: 1rem;
}
#raceSectionAndfaq #faq .accordionfaq .answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 100%;
  background-color: #a47233;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
#raceSectionAndfaq #faq .accordionfaq:target .answer {
  max-height: 20rem !important;
}
#raceSectionAndfaq #faq .accordionfaq:target .accordion-link .fa-solid.fa-plus {
  display: none;
}
#raceSectionAndfaq #faq .accordionfaq:target .accordion-link .fa-solid.fa-minus {
  display: block;
}

#announce2 {
  background-color: #fff;
  width: 40%;
  height: 120px;
  margin-top: 20px;
}

#raceSectionAndfaq::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(180deg, #001521, transparent 67%);
  z-index: 50;
}

#contentfoot {
  margin: auto;
  width: 90%;
}

#footer {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #fff;
  height: auto;
  font-family: "Latina regular";
}
#footer #menudown {
  width: 65%;
}
#footer #footernet {
  width: 30%;
  justify-content: end;
}
#footer #footernet ul {
  width: 50%;
}
#footer #footernet ul a i {
  transition: all 500ms;
}
#footer #footernet ul li:hover a i {
  rotate: 360deg;
  transition: all 500ms;
}
#footer #footernet ul li i {
  font-size: 25px;
}

#titreg {
  font-family: "Latina bold";
}

#textreg {
  font-family: "Latina regular";
}

#register {
  width: 90%;
}

#mainreg {
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
}
#mainreg #navsup {
  height: 10vh;
}

#createlog {
  width: 15%;
  border-radius: 90px;
  background-color: #426264;
  font-family: "Latina bold";
}

#registerdiv {
  width: 100%;
}
#registerdiv #form {
  width: 50%;
  margin-bottom: 5%;
}

#formlog input {
  font-family: "Latina bold";
  border: none;
}

#form input {
  background-color: #001521;
  font-family: "Latina bold";
  border: none;
}

#grupo__terminos {
  font-family: "Latina bold";
}

.titulo {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.titulo::before, .titulo::after {
  content: "";
  height: 2px;
  background-color: #fff;
  display: block;
}

#redes {
  width: 20%;
}
#redes a {
  width: 40%;
  border-radius: 40%;
}
#redes a i {
  color: #fff;
}

#redeslog {
  width: 10%;
}
#redeslog a {
  width: 40%;
  border-radius: 40%;
}
#redeslog a i {
  color: #fff;
}

#got {
  border-radius: 90px;
  background-color: #426264;
  font-family: "Latina bold";
}

/* Color forms */
input[type=text],
input[type=password],
input[type=email] {
  background: #001521;
  color: #fff;
  font-weight: bold;
  border: none;
}

#mainlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
}
#mainlog #navsup {
  padding: 1% !important;
}
#mainlog #login {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}
#mainlog #login #formlog {
  width: 100%;
}
#mainlog #login #formlog .loginin {
  display: flex;
  justify-content: center;
  width: 40%;
  position: relative;
}
#mainlog #login #formlog .loginin input {
  width: 100%;
}
#mainlog #login #formlog .loginin i {
  position: absolute;
  top: 30%;
  left: 2%;
  color: #fff;
}

#logolog {
  width: 15%;
}

#loginboton {
  width: 20%;
}

#buttonregister {
  width: 30%;
}

.formulario__input-error {
  font-size: 15px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
  color: #fff;
}

.formulario__validacion-estado {
  position: absolute;
  top: 18%;
  right: 10px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__checkbox {
  margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #011625;
  padding: 0 15px;
  border-radius: 3px;
  border: 2px solid #fff;
  display: none;
  color: #fff;
}

.formulario__mensaje-activo {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.formulario__mensaje p {
  margin: 0;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgb(163, 163, 163);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #011625;
  border: 2px solid #011625;
  background-color: #fff;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  position: absolute;
  top: 30% !important;
  color: #fff;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #fff;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

/*Interesc styles*/
#headerinter {
  height: 15%;
}
#headerinter #navsup {
  padding: 2.5%;
}
#headerinter #navsup #logo {
  width: 22%;
}
#headerinter #navsup ul {
  width: 50%;
}
#headerinter #navsup .buttonslog {
  width: 25%;
}
#headerinter #navsup .buttonslog li {
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  border-radius: 100%;
  margin-left: 1.5% !important;
}

#maininter {
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
  width: 100%;
  height: auto;
}
#maininter #navsup {
  height: 10vh;
}
#maininter #schoolAndRanking {
  width: 85%;
  height: 100vh;
  color: #fff;
  margin-bottom: 10%;
}
#maininter #schoolAndRanking #school {
  width: 25%;
  background-color: #001521;
  border-radius: 1rem;
  transition: all 1000ms;
}
#maininter #schoolAndRanking #school #userAndName {
  width: 90%;
  display: none;
}
#maininter #schoolAndRanking #school #schoolpicandname {
  width: 90%;
  height: 25%;
  margin: auto;
  font-family: "Latina ultra heavy";
  border-bottom: 1px solid #fff;
}
#maininter #schoolAndRanking #school #schoolpicandname #pic {
  width: 25%;
  height: 60%;
  background-color: #fff;
  border-radius: 55%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#maininter #schoolAndRanking #school #schoolpicandname #name {
  margin-bottom: 1rem;
}
#maininter #schoolAndRanking #school #position {
  width: 90%;
  height: 25%;
  margin: auto;
}
#maininter #schoolAndRanking #school #position span p {
  color: #ffc200;
  font-size: 1.5rem;
  font-weight: bold;
}
#maininter #schoolAndRanking #school #position .puesto {
  font-family: "Latina bold";
}
#maininter #schoolAndRanking #school #rankingside {
  cursor: pointer;
  width: 90%;
  height: 25%;
  margin: auto;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  font-family: "Latina bold";
}
#maininter #schoolAndRanking #school #rankingside img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#maininter #schoolAndRanking #school #rankingside p {
  margin-bottom: 1rem;
}
#maininter #schoolAndRanking #school #points {
  height: 25%;
}
#maininter #schoolAndRanking #school #points p:first-child {
  font-family: "Latina bold";
}
#maininter #schoolAndRanking #school #points p:nth-child(2) {
  color: #ffc200;
  font-size: 2rem;
  font-weight: bold;
}
#maininter #schoolAndRanking #ranking {
  width: 70%;
  height: 100%;
}

.grower {
  height: 90% !important;
  transition: all 1000ms;
}

.coleg {
  height: 70% !important;
  transition: all 1000ms;
}

#maininteracces {
  width: 100%;
  height: 100%;
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
}
#maininteracces #navsup {
  height: 10vh;
}
#maininteracces #interAccesForm {
  width: 80%;
  height: 100vh;
}
#maininteracces #interAccesForm #imgacces {
  width: 40%;
}
#maininteracces #interAccesForm #imgacces img {
  width: 50%;
  margin-bottom: 10%;
}
#maininteracces #interAccesForm #interAccesBack {
  width: 50%;
  height: 50%;
  background-image: url(../img/landing/popup.png);
  background-size: 100% 100%;
}
#maininteracces #interAccesForm #schoolandyear {
  width: 80%;
  height: 50%;
}
#maininteracces #interAccesForm #schoolandyear #selects {
  width: 100%;
  margin-bottom: 2%;
}
#maininteracces #interAccesForm #schoolandyear #selects select {
  border: none;
  border-radius: 5px;
  background-color: #011625;
  font-family: "Latina bold";
  color: #fff;
}
#maininteracces #interAccesForm #schoolandyear #selects #schoolSelect {
  width: 59%;
}
#maininteracces #interAccesForm #schoolandyear #selects #yearSelect {
  width: 39%;
}
#maininteracces #inviteText p {
  color: #fff;
  font-family: "Latina regular";
}
#maininteracces #inviteText p a {
  color: #d5b819;
  font-family: "Latina bold";
}
#maininteracces input {
  margin-bottom: 1%;
  border-radius: 5px;
}
#maininteracces #interAccesButton {
  margin-top: 5%;
  width: 40%;
}

/*Mail styles*/
#mainmail {
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
  height: 100vh;
  margin-bottom: 50px;
}
#mainmail #contentmail #logolog:hover {
  rotate: 360deg;
  transition: all 1500ms;
}
#mainmail #contentmail #logolog {
  width: 15%;
  transition: all 1500ms;
}
#mainmail #mail .mail {
  font-family: "Latina bold";
  font-size: 40px;
}
#mainmail #mail .frasemail {
  font-family: "Latina regular";
  font-size: 18px;
}
#mainmail #dontreceive {
  width: 50%;
}
#mainmail #dontreceive p {
  font-family: "Latina regular";
  font-size: 35px;
  letter-spacing: 2px;
}
#mainmail #buttonsreceive {
  width: 60%;
}
#mainmail #buttonsreceive a {
  width: 50%;
}
#mainmail #buttonsreceive .end {
  text-align: end;
}
#mainmail #buttonsreceive img {
  width: 100%;
}
#mainmail #buttonsreceive .changebut {
  font-family: "Latina bold";
  border: 1px solid #fff;
  text-align: center;
  border-radius: 20px;
}
#mainmail #netbuttons {
  width: 40%;
}
#mainmail #redesbuttons {
  width: 10%;
}
#mainmail #redesbuttons a {
  width: 40%;
  border-radius: 40%;
}
#mainmail #redesbuttons a i {
  color: #fff;
  font-size: 20px;
}

.buttonslog li {
  width: 20% !important;
  text-align: center;
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  border-radius: 100%;
  margin-left: 1.5% !important;
}
.buttonslog li img {
  margin: auto;
}

/*Myprofile styles*/
#mainmyprof {
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
  height: auto;
}
#mainmyprof #headerprof {
  height: 10vh;
}
#mainmyprof #headerprof .buttonslog {
  width: 25%;
}
#mainmyprof #headerprof .buttonslog li {
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  margin-left: 1.5% !important;
  border-radius: 100%;
}

#profilecontent {
  width: 70%;
  height: 100vh;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
#profilecontent #formprof {
  width: 80%;
  height: 20%;
}
#profilecontent #formprof #circles {
  width: 90%;
  height: 80%;
  margin: auto;
}
#profilecontent #formprof #circles .contCirc {
  width: 100%;
  height: 100%;
}
#profilecontent #formprof #circles .contCirc .circle {
  width: 45%;
  height: 90%;
  border-radius: 90%;
  background-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
#profilecontent #formProfile {
  width: 80%;
  height: 80%;
}
#profilecontent #formProfile .pointer {
  pointer-events: none;
}
#profilecontent #formProfile input {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 40px;
}
#profilecontent #formProfile .form-container {
  width: 90%;
}
#profilecontent #formProfile #nameandlast input {
  width: 49.8%;
}
#profilecontent #formProfile #changepass {
  width: 90%;
}
#profilecontent #formProfile #profileButtons {
  width: 70%;
  height: 25%;
  margin: auto;
}
#profilecontent #formProfile #profileButtons button {
  font-family: "Latina bold";
  color: #fff;
  border-radius: 20px;
}
#profilecontent #formProfile #profileButtons button:first-child {
  background-color: #426264;
  width: 35%;
  height: 30%;
}
#profilecontent #formProfile #profileButtons button:nth-child(2) {
  border: 1px solid #fff;
  width: 25%;
  height: 30%;
}

/*Try pag*/
/* WHOLE CONTAINER */
.containerdate {
  width: 100%;
  height: 100%;
}
.containerdate .buttons {
  min-width: 4%;
  min-height: 50%;
  cursor: pointer;
  background-color: #66421b;
  border: 2px solid #905a1e;
}
.containerdate .tabs {
  display: flex;
  flex-wrap: nowrap;
  height: 5%;
  overflow: hidden !important;
  align-items: center;
  justify-content: space-between;
  width: 74%;
}
.containerdate .tabs .contentTabs {
  width: 200%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1%;
}
.containerdate .tabs .tab {
  width: 16%;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #221c02;
  border: 2px solid #d17519;
  font-family: "Latina ultra heavy";
  font-weight: bold;
}
.containerdate .tabs .fecha.tab-active {
  background-color: #fea433;
}
.containerdate #progress {
  width: 81%;
  height: 30%;
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.containerdate #progress #tituloFechas p:nth-child(2) {
  font-family: "Latina bold";
}
.containerdate #progress #tituloFechas p:nth-child(3) {
  font-size: 2rem;
}
.containerdate #progress #bar {
  height: 20%;
  width: 70%;
  background-color: #211b02;
  position: relative;
  border: 4px solid #c97720;
  border-radius: 10px;
}
.containerdate #progress #bar #progressBar {
  position: absolute;
  height: 100%;
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  animation: progress-animation 5s forwards;
  border-radius: 5px;
  font-family: "Latina ultra heavy";
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.containerdate #progressWithouthRiddle {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}
.containerdate #tabsGeneralContainer {
  width: 90%;
  height: 100%;
}
.containerdate #tabsGeneralContainer #tabsTable {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 10%;
  margin: auto;
}
.containerdate #tabsGeneralContainer .tabrank {
  width: 45%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #221c02;
  border: 3px solid #c27520;
  border-radius: 1rem;
  font-family: "Latina bold";
  cursor: pointer;
  transition: all 1000ms;
}
.containerdate #tabsGeneralContainer .tabrankActive {
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  transition: all 1000ms;
}
.containerdate #contentTables {
  width: 100%;
  height: 90%;
}
.containerdate .contentRank {
  width: 100%;
  height: 100%;
  display: none;
}
.containerdate .contentRank #rankTable {
  width: 100%;
  margin: auto;
}
.containerdate .contentRank #rankTable .trIndice {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: "Latina bold";
}
.containerdate .contentRank #rankTable .trDato {
  padding-top: 10px;
}
.containerdate .contentRank #rankTable .trDato p:first-child {
  font-family: "Latina bold";
}
.containerdate .contentRank #rankTable .trDato td {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.containerdate .contentRank #rankTable .trDato td:first-child {
  width: 63%;
  justify-content: space-between;
}
.containerdate .contentRankActive {
  display: block;
  transition: all 800ms;
}

/* TAB CONTENTS */
.content {
  width: 93%;
  height: 80%;
  margin: auto;
  display: none;
  padding: 0;
  margin: auto;
  border: none;
}

.content-show {
  display: flex;
  animation-name: fade-out;
  animation-duration: 2.5s;
}

@keyframes fade-out {
  0% {
    opacity: 0;
    display: flex;
  }
  99% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.content-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  animation-name: fade-in;
  animation-duration: 2.5s;
}
.content-active #racesInter {
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-active #racesInter .raceInter {
  position: relative;
  flex: 1 0 auto;
  width: 30%;
  height: 25%;
  background-size: 100% 100%;
}
.content-active #racesInter .raceInter .position {
  left: 10%;
  top: 5%;
  font-family: "Latina regular";
  font-weight: bold;
  font-size: 2rem;
  color: rgba(132, 132, 132, 0.72);
}
.content-active #racesInter .raceInter .botonRace img {
  margin: 0;
  position: absolute;
  bottom: -10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content-active #racesInter .raceInter .hour {
  font-size: 1.5rem;
  font-family: "Digital";
}
.content-active #racesInter #raceLocked {
  width: 95%;
  height: 95%;
  margin: auto;
  border-radius: 15%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(31, 27, 29, 0.66);
  opacity: 1;
}
.content-active #racesInter #raceLocked img {
  width: 30%;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0.01;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
/* BUTTON PREVIOUS NEXT */
.button {
  /* position: absolute;
  top: 49%; */
  z-index: 4;
  cursor: pointer;
}

/* .buttons{
    position: absolute;
    top: 0%;
}
.next{
    right: 0%;
} */
#rankingMenu {
  position: fixed;
  width: 50%;
  height: 90%;
  background: rgb(30, 26, 1);
  background: linear-gradient(180deg, rgb(30, 26, 1) 0%, rgb(41, 33, 4) 34%, rgb(51, 38, 7) 64%, rgb(60, 44, 10) 100%);
  display: flex;
  top: -400%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  border-radius: 0.8rem;
  border: 4px solid #8c510f;
  transition: all 500ms;
}
#rankingMenu #rankingClose img {
  width: 8%;
  position: absolute;
  top: -1%;
  right: 0%;
  cursor: pointer;
}
#rankingMenu .rankingContent {
  width: 100%;
}
#rankingMenu .rankingContent p {
  text-align: center;
  color: #831202;
  font-family: "Latina ultra heavy";
  font-size: 2.4rem;
  text-shadow: 0px 0 0 #dd8f4a, 0px 0 0 #d68a35, 0 0px 0 #7c6734, 0 0px 0 #f4c965, 2px 1px #e0a85a, -1px -1px 0 #efa641, 1px -1px 0 #b3863a, -1px 1px 0 #bd813f;
  margin-top: 2rem;
}
#rankingMenu .rankingContent table {
  width: 100%;
  margin-top: 5%;
}
#rankingMenu .rankingContent table tr th {
  font-family: "Latina ultra heavy";
  color: #fff;
}

/*Boleteria styles*/
#ticketDivs {
  width: 100%;
  height: 100vh;
}
#ticketDivs #tituloBol h1 {
  color: #831202;
  font-family: "Latina ultra heavy";
  font-size: 2rem;
  text-shadow: 0px 0 0 #dd8f4a, 0px 0 0 #d68a35, 0 0px 0 #7c6734, 0 0px 0 #f4c965, 2px 1px #e0a85a, -1px -1px 0 #efa641, 1px -1px 0 #b3863a, -1px 1px 0 #bd813f;
}
#ticketDivs #datesPrices {
  width: 55%;
  height: 80%;
  margin: auto;
}
#ticketDivs #datesPrices #pricesBol {
  display: flex;
  width: 100%;
  height: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
#ticketDivs #datesPrices #pricesBol #porFecha {
  width: 45%;
  height: 80%;
  background-image: url(../img/inter/FONDO\ 1-07.png);
  background-size: 100% 100%;
}
#ticketDivs #datesPrices #pricesBol #full {
  width: 45%;
  height: 80%;
  background-image: url(../img/inter/FONDO\ 2-07.png);
  background-size: 100% 100%;
}
#ticketDivs #datesPrices #pricesBol .tituloPrices p:first-child {
  color: #ffb800;
  font-family: "Latina bold";
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
}
#ticketDivs #datesPrices #pricesBol #priceTicket {
  height: 40%;
  width: 40%;
}
#ticketDivs #datesPrices #pricesBol #priceTicket img {
  width: 10rem;
  bottom: 0%;
  left: -2%;
}
#ticketDivs #datesPrices #pricesBol .price1 {
  background-image: url(../img/acertijos/cofre1.png);
  background-size: 100% 100%;
}
#ticketDivs #datesPrices #pricesBol .price2 {
  background-image: url(../img/acertijos/cofre2.png);
  background-size: 100% 100%;
}
#ticketDivs #datesPrices #canjear {
  display: flex;
  justify-content: space-between;
  height: 7%;
}
#ticketDivs #datesPrices #canjear input {
  width: 80%;
  height: 100%;
  border-radius: 1rem;
}
#ticketDivs #datesPrices #canjear button {
  background-color: #80a09c;
  width: 19%;
  font-family: "Latina bold";
  border-radius: 1rem;
}

/*acertijos styles*/
#acertijoAll {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
}
#acertijoAll #barProg {
  width: 80%;
  height: 10%;
}
#acertijoAll #barProg #barraProg {
  width: 13%;
  height: 45%;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  border: 2px solid #ce7318;
  border-radius: 10px;
}
#acertijoAll #barProg #barraProg p {
  z-index: 2000;
}
#acertijoAll #barProg #barraProg #progressProg {
  position: absolute;
  height: 100%;
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  animation: bar-animation 3s forwards;
  border-radius: 10px;
}
@keyframes bar-animation {
  0% {
    width: 5%;
  }
  100% {
    width: 35%;
  }
}
#acertijoAll #barProg #progressProg3 {
  position: absolute;
  height: 100%;
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  animation: priddle3-animation 3s forwards;
  border-radius: 10px;
}
@keyframes priddle3-animation {
  0% {
    width: 35%;
  }
  100% {
    width: 65%;
  }
}
#acertijoAll #acertijo {
  width: 65%;
  height: 85%;
}
#acertijoAll #acertijo #acertijoTime {
  width: 20%;
  height: 7%;
  border: 2px solid #ce7318;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
}
#acertijoAll #acertijo #acertijoTime p {
  font-size: 1.5rem;
  font-family: "Paytone";
  align-self: center;
}
#acertijoAll #acertijo #acertijotext {
  width: 60%;
  height: 60%;
  border: 2px solid #ce7318;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
  border-radius: 10%;
}
#acertijoAll #acertijo #acertijotext #riddleTitle {
  width: 100%;
  height: 20%;
}
#acertijoAll #acertijo #acertijotext #riddleSentence {
  width: 100%;
  height: 55%;
}
#acertijoAll #acertijo #acertijotext #riddleSentence p {
  width: 85%;
  font-family: "Latina bold";
  font-size: 1rem;
}
#acertijoAll #acertijo #acertijotext p:first-child {
  font-family: "Latina ultra heavy";
  font-size: 2rem;
}
#acertijoAll #acertijo #acertijoanswer {
  width: 40%;
  height: 15%;
  background-image: url(../img/acertijos/BARRARESPUESTA-07.png);
  background-size: 100% 100%;
}
#acertijoAll #acertijo #acertijoanswer input {
  width: 80%;
  height: 40%;
  color: gray;
  border-radius: 20px;
  font-family: "Latina regular";
  background-color: #fff !important;
}
#acertijoAll #acertijo #acertijoanswer p {
  width: 72%;
  height: 10%;
  font-size: 0.6rem;
}
#acertijoAll #acertijo .acertijobutton {
  width: 20%;
  height: 10%;
}
#acertijoAll #acertijo .acertijobutton button {
  width: 100%;
  height: 100%;
}
#acertijoAll #acertijo .acertijobutton button img {
  width: 100%;
  height: 100%;
}

#doneall {
  background-size: 100% 100%;
}
#doneall #donecontent {
  width: 100%;
  height: 100%;
}
#doneall #donecontent #calavera {
  width: 15%;
  height: 40%;
}
#doneall #donecontent #donemsg p {
  width: 100%;
  font-size: 3.5rem;
  font-family: "Latina ultra heavy";
  color: #f1d638;
}
#doneall #donecontent #donehour {
  width: 15%;
}
#doneall #donecontent #donehour p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
#doneall #donecontent #donehour #time {
  width: 100%;
  border: 4px solid #ce7318;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
  border-radius: 10px;
}
#doneall #donecontent #donehour #time p {
  font-size: 1.5rem;
}
#doneall #donecontent #donePos {
  width: 35%;
  margin: 0px auto;
}
#doneall #donecontent #donePos p {
  font-size: 2rem;
  font-weight: bold;
}
#doneall #donecontent #donePos #posImg {
  width: 80px;
  height: 80px;
  background-image: url(../../img/acertijos/circle.png);
  background-size: 100% 100%;
  margin-left: 10px;
}
#doneall #donecontent #donePos #posImg p {
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  font-size: 3rem;
  background-color: #000;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f6d236, #eda42a, #e19426);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#doneall #donecontent #donetable {
  width: 30%;
  height: 40%;
  border: 4px solid #ce7318;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
  margin-top: 1%;
  border-radius: 20px;
  overflow: hidden;
}
#doneall #donecontent #donetable #tab {
  width: 80%;
  margin: 0px auto;
  height: 80%;
}
#doneall #donecontent #donetable .rank {
  color: #831202;
  font-family: "Latina ultra heavy";
  font-size: 1.4rem;
  text-shadow: 0px 0 0 #dd8f4a, 0px 0 0 #d68a35, 0 0px 0 #7c6734, 0 0px 0 #f4c965, 2px 1px #e0a85a, -1px -1px 0 #efa641, 1px -1px 0 #b3863a, -1px 1px 0 #bd813f;
}
#doneall #donecontent #donetable table {
  width: 100%;
}
#doneall #donecontent #donetable table tr:first-child {
  font-family: "Latina ultra heavy";
}
#doneall #donecontent #donetable table .trInfo td {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#doneall #donecontent #donetable table .trInfo .positNumber {
  width: 15%;
  height: 100%;
  left: 10%;
  background-image: url(../../img/acertijos/circle.png);
  background-size: 100% 100%;
}
#doneall #donecontent #donetable table .trInfo .positNumber p {
  font-family: "Latina ultra heavy";
  background-color: #000;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f6d236, #eda42a, #e19426);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#doneall #donecontent #doneTableBut {
  width: 15%;
}

#failriddle {
  position: fixed;
  width: 40%;
  height: 40%;
  background: rgb(30, 26, 1);
  background: linear-gradient(180deg, rgb(30, 26, 1) 0%, rgb(41, 33, 4) 34%, rgb(51, 38, 7) 64%, rgb(60, 44, 10) 100%);
  display: flex;
  top: -400%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  border-radius: 5%;
  border: 4px solid #8c510f;
  transition: all 500ms;
}
#failriddle #failClose img {
  width: 10%;
  position: absolute;
  top: 0;
  right: 2%;
  cursor: pointer;
}

#correctriddle {
  position: fixed;
  width: 40%;
  height: 40%;
  background: rgb(30, 26, 1);
  background: linear-gradient(180deg, rgb(30, 26, 1) 0%, rgb(41, 33, 4) 34%, rgb(51, 38, 7) 64%, rgb(60, 44, 10) 100%);
  display: flex;
  top: -400%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  border-radius: 5%;
  border: 4px solid #8c510f;
  transition: all 500ms;
}

.closePop img {
  width: 10% !important;
  position: absolute;
  top: 0;
  right: 2%;
  cursor: pointer;
}

#completedriddle {
  position: fixed;
  width: 40%;
  height: 40%;
  background: rgb(30, 26, 1);
  background: linear-gradient(180deg, rgb(30, 26, 1) 0%, rgb(41, 33, 4) 34%, rgb(51, 38, 7) 64%, rgb(60, 44, 10) 100%);
  display: flex;
  top: -400%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  border-radius: 5%;
  border: 4px solid #8c510f;
  transition: all 500ms;
}
#completedriddle #completedClose img {
  width: 5%;
  position: absolute;
  top: 0;
  right: 2%;
  cursor: pointer;
}
#completedriddle #completedContent p:first-child {
  color: #fcd20f;
  font-size: 3rem;
  font-family: "Latina bold";
}
#completedriddle #completedContent p:nth-child(2) {
  font-size: 2.5rem;
}
#completedriddle #completedContent p:nth-child(3) span {
  color: #f1a200;
}
#completedriddle #completedContent #buttonCompleted img {
  width: 30%;
}

#failriddle #failContent p:first-child {
  color: #881001;
  font-family: "Latina bold";
  font-size: 4rem;
}
#failriddle #failContent p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}
#failriddle #buttonFail {
  width: 40%;
}

#correctriddle #correctContent {
  height: 80%;
}
#correctriddle #correctContent p:first-child {
  color: #57c32c;
  font-family: "Latina bold";
  font-size: 2.5rem;
}
#correctriddle #correctContent p:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
}
#correctriddle #correctContent #buttonCorrect img {
  width: 30%;
}

.fail.fail-opened {
  position: relative;
  top: 25% !important;
  z-index: 2999 !important;
}

.fail-opened.body::after {
  opacity: 1;
  transform: scale(1);
}

/*classic styles*/
#mainclassic {
  width: 100%;
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
  height: auto;
}
#mainclassic #headerinter {
  height: 10vh;
  margin-bottom: 5%;
}
#mainclassic #classicContent {
  height: 100vh;
}
#mainclassic #classicContent #classicTexts {
  width: 100%;
  height: 10%;
}
#mainclassic #classicContent #classicLevels {
  width: 80%;
  height: 70%;
}
#mainclassic #classicContent #classicLevels .classicLevel {
  width: 30%;
  height: 40%;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
#mainclassic #classicContent #classicLevels .classicLevel .levelLocked {
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 0.5%;
  border-radius: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(31, 27, 29, 0.66);
  opacity: 1;
  z-index: 1001;
}
#mainclassic #classicContent #classicLevels .classicLevel .levelItems {
  width: 90%;
  height: 60%;
}
#mainclassic #classicContent #classicLevels .classicLevel .levelItems .levelText {
  font-family: "Latina bold";
  font-size: 2.5rem;
}
#mainclassic #classicContent #classicLevels .classicLevel .levelBar {
  width: 50%;
  margin-top: none;
}
#mainclassic #classicContent #classicLevels .classicLevel .levelBar p {
  font-family: "Latina ultra heavy";
}
#mainclassic #classicContent #classicLevels .classicLevel .levelBar img {
  width: 30%;
  z-index: 1000;
}
#mainclassic #classicContent #classicLevels .classicLevel .levelBar .bar {
  width: 70%;
  height: 50%;
  right: 15%;
  border: 2px solid #ce7318;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
}
#mainclassic #classicContent #announceClas {
  width: 100%;
  height: 15%;
}
#mainclassic #classicContent #announceClas #anounce {
  width: 50%;
  height: 90%;
}

#clasAcContent {
  width: 100%;
  height: 200vh;
  overflow: auto;
  margin-bottom: 5%;
}
#clasAcContent #listRiddle {
  width: 85%;
  height: 100%;
}
#clasAcContent #listRiddle .riddle {
  width: 23%;
  height: 12%;
  margin-bottom: 2%;
  background-size: 100% 100%;
}
#clasAcContent #listRiddle .riddle .number {
  left: 10%;
  font-family: "Latina regular";
  font-weight: bold;
  font-size: 2.5rem;
  color: rgba(132, 132, 132, 0.72);
}
#clasAcContent #listRiddle .riddle .botonRace img {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#clasAcContent #listRiddle .riddle .riddleLocked {
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 0.5%;
  border-radius: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(31, 27, 29, 0.66);
  opacity: 1;
  z-index: 1001;
}
#clasAcContent #listRiddle .riddle .riddleLocked img {
  width: 30%;
}

#viewGame {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
}
#viewGame #viewElements #calavera {
  width: 65%;
}
#viewGame #viewElements #gameTitle {
  font-size: 2rem;
  font-family: "Latina bold";
}
#viewGame #viewElements #gameReward {
  font-size: 2rem;
  font-family: "Latina bold";
}
#viewGame #viewElements #gameReward p:nth-child(2) {
  font-size: 3rem;
}
#viewGame #viewElements #gameDate {
  width: 45%;
  padding: 1%;
  font-size: 1.5rem;
  font-weight: bold;
  background: rgb(30, 26, 1);
  background: linear-gradient(180deg, rgb(30, 26, 1) 0%, rgb(41, 33, 4) 34%, rgb(51, 38, 7) 64%, rgb(60, 44, 10) 100%);
  border: 4px solid #8c510f;
  border-radius: 10px;
}
#viewGame #viewElements #gameHour {
  font-size: 2.5rem;
  font-weight: bold;
}

#mainrace {
  width: 100%;
  height: auto;
  background: rgb(0, 74, 61);
  background: linear-gradient(180deg, rgb(0, 74, 61) 0%, rgb(0, 57, 53) 34%, rgb(0, 38, 44) 64%, rgb(0, 21, 33) 100%);
}
#mainrace #navsup {
  height: 10vh;
}
#mainrace #raceContent {
  width: 100%;
  height: auto;
}
#mainrace #raceContent #raceElements {
  width: 100%;
  height: 100vh;
}
#mainrace #raceContent #raceElements #raceGames {
  width: 85%;
  height: 30%;
}
#mainrace #raceContent #raceElements #raceGames #boletLil {
  width: 25%;
  height: 80%;
  margin-left: 2%;
}
#mainrace #raceContent #raceElements #raceGames #boletLil .boletEl:first-child {
  border: 2px solid #ce7318;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
}
#mainrace #raceContent #raceElements #raceGames #boletLil .boletEl:first-child span {
  color: #f7c603;
  font-weight: bold;
}
#mainrace #raceContent #raceElements #raceGames #boletLil .boletEl {
  width: 50%;
}
#mainrace #raceContent #raceElements #raceGames #boletLil .boletEl p span:first-child {
  font-family: "Latina regular";
  font-weight: bold;
}
#mainrace #raceContent #raceElements #raceGames #boletLil .boletEl p span:nth-child(2) {
  font-size: 0.5rem;
}
#mainrace #raceContent #raceElements #raceGames #boletLil .boletEl img {
  margin-right: 5%;
}
#mainrace #raceContent #raceElements #raceGames #titlePub {
  width: 50%;
  height: 100%;
}
#mainrace #raceContent #raceElements #raceGames #titlePub #title img {
  width: 50%;
  margin: auto;
}
#mainrace #raceContent #raceElements #raceGames #titlePub #pub {
  width: 100%;
  height: 40%;
  background-color: #fff;
}
#mainrace #raceContent #raceElements #raceGames #titlePub #pubText p:nth-child(2) {
  width: 80%;
}
#mainrace #raceContent #raceElements #raceGames #officialHour {
  width: 25%;
  height: 20%;
}
#mainrace #raceContent #raceElements #raceGames #officialHour p {
  font-family: "Digital";
}
#mainrace #raceContent #raceElements #raceGames #officialHour img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
#mainrace #raceContent #raceElements #racesTod {
  width: 85%;
  height: 70%;
  margin: auto;
}
#mainrace #raceContent #raceElements #racesTod .racetod {
  width: 28%;
  height: 85%;
  background-size: 100% 100%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .raceTitle {
  width: 60%;
  height: 10%;
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  border-radius: 10px;
}
#mainrace #raceContent #raceElements #racesTod .racetod .raceTitle p {
  font-family: "Latina bold";
}
#mainrace #raceContent #raceElements #racesTod .racetod .statusAndHour {
  width: 60%;
  height: 10%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .statusAndHour .status {
  background: #ff4040;
  padding: 0.2rem;
}
#mainrace #raceContent #raceElements #racesTod .racetod .statusAndHour .statusY {
  background: #feca00;
}
#mainrace #raceContent #raceElements #racesTod .racetod .statusAndHour .hourst {
  width: 30%;
  font-family: "Digital";
  color: #fac805;
}
#mainrace #raceContent #raceElements #racesTod .racetod .statusAndHour .hourst img {
  width: 80%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .rewardst {
  width: 60%;
  height: 10%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .rewardst p:nth-child(2) {
  color: #fac805;
}
#mainrace #raceContent #raceElements #racesTod .racetod .buttonAndDate {
  width: 100%;
  height: 25%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .buttonAndDate .buttonst {
  width: 50%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .buttonAndDate .buttonst img {
  width: 40%;
  height: 40%;
  margin: auto;
}
#mainrace #raceContent #raceElements #racesTod .racetod .buttonAndDate .datest {
  margin-left: -5%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .buttonAndDate .datest img {
  width: 15%;
}
#mainrace #raceContent #raceElements #racesTod .racetod .buttonAndDate .datest p {
  font-family: "Digital";
  color: #fac805;
}
#mainrace #raceContent #allraces {
  width: 100%;
  height: 100vh;
  margin-bottom: 10%;
}
#mainrace #raceContent #allraces #allracestitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
#mainrace #raceContent #allraces #pubelements {
  width: 85%;
  height: 20%;
  width: 85%;
}
#mainrace #raceContent #allraces #pubelements .noth {
  width: 25%;
}
#mainrace #raceContent #allraces #pubelements #pub {
  width: 45%;
  background: #fff;
  height: 50%;
}
#mainrace #raceContent #allraces #racesTable {
  width: 85%;
  height: 80%;
  background: rgb(28, 25, 1);
  background: linear-gradient(180deg, rgb(28, 25, 1) 0%, rgb(60, 44, 10) 50%);
  border: 4px solid #ce7318;
  border-radius: 20px;
}
#mainrace #raceContent #allraces #racesTable table {
  width: 85%;
  height: 90%;
  border-collapse: collapse;
}
#mainrace #raceContent #allraces #racesTable table tbody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#mainrace #raceContent #allraces #racesTable table tbody tr:first-child {
  height: 10%;
}
#mainrace #raceContent #allraces #racesTable table th {
  background: rgb(250, 205, 103);
  background: linear-gradient(90deg, rgb(250, 205, 103) 0%, rgb(254, 166, 53) 60%);
  width: 18%;
  height: 100%;
  border-radius: 10px;
}
#mainrace #raceContent #allraces #racesTable table th:last-child {
  background: none;
}
#mainrace #raceContent #allraces #racesTable table td {
  text-align: center;
  width: 18%;
  margin: none;
}
#mainrace #raceContent #allraces #racesTable table .trRaces {
  height: 20% !important;
}
#mainrace #raceContent #allraces #racesTable table .trRaces td img {
  width: 50%;
  left: -35%;
}
#mainrace #raceContent #allraces #racesTable table .trRaces td:nth-child(2) {
  font-family: "Digital";
  color: #fac805;
}
#mainrace #raceContent #allraces #racesTable table .trRaces td:last-child a {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
